<%= stylesheet_link_tag "toppage", :media => "all" %>
<%= render 'tmp/header',{ s: "home" } %>
<div class="popup_wrap">
    <div class="whir">
        
        <section class="nnarf" id="n0">
            <div class="secb">
                <a href="/nuser/new">戻る</a>
            </div>
            <div class="abssec">
                <p class="sect">エラーが発生しました。</p>
            </div>
        </section>
        
    </div>
</div>

