/* line 3, /Users/higuchitakumi/smapr/app/assets/stylesheets/acstyle.scss */
.articleBox {
  width: calc(100% - 40px);
  height: 100%;
  padding: 20px 20px 20px 20px;
  background: white;
}
/* line 9, /Users/higuchitakumi/smapr/app/assets/stylesheets/acstyle.scss */
.articleBox img {
  width: 100%;
  margin: 0 0 10px 0;
}
/* line 13, /Users/higuchitakumi/smapr/app/assets/stylesheets/acstyle.scss */
.articleBox blockquote {
  margin: 10px 0;
}
/* line 16, /Users/higuchitakumi/smapr/app/assets/stylesheets/acstyle.scss */
.articleBox p {
  line-height: 2em;
  margin: 0 0 5px 0;
}
/* line 20, /Users/higuchitakumi/smapr/app/assets/stylesheets/acstyle.scss */
.articleBox ul, .articleBox ol {
  margin: 20px 0 10px 30px;
}
/* line 23, /Users/higuchitakumi/smapr/app/assets/stylesheets/acstyle.scss */
.articleBox .bold {
  font-weight: bold;
}
/* line 26, /Users/higuchitakumi/smapr/app/assets/stylesheets/acstyle.scss */
.articleBox .quoteBox {
  width: 100%;
  font-size: 0.8em;
  text-align: right;
}
/* line 31, /Users/higuchitakumi/smapr/app/assets/stylesheets/acstyle.scss */
.articleBox h2 {
  position: relative;
  font-weight: 580;
  padding: 5px 0;
  margin: 10px 0;
  font-weight: bold;
  background: #66cdaa;
  color: #fffafa;
}
/* line 40, /Users/higuchitakumi/smapr/app/assets/stylesheets/acstyle.scss */
.articleBox h3 {
  position: relative;
  font-weight: bold;
  font-size: 1em;
  color: #808080;
  padding: 2px 30px;
  margin: 5px 0 25px 0;
}
/* line 47, /Users/higuchitakumi/smapr/app/assets/stylesheets/acstyle.scss */
.articleBox h3:before {
  position: absolute;
  top: 50%;
  left: 10px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  content: '';
  background: #00aced;
  width: 0.8em;
  height: 0.8em;
}

/* line 62, /Users/higuchitakumi/smapr/app/assets/stylesheets/acstyle.scss */
.fr-element blockquote, .def blockquote {
  margin: 10px 0;
}
/* line 65, /Users/higuchitakumi/smapr/app/assets/stylesheets/acstyle.scss */
.fr-element p, .def p {
  line-height: 2em;
  margin: 0 0 10px 10px;
}
/* line 69, /Users/higuchitakumi/smapr/app/assets/stylesheets/acstyle.scss */
.fr-element ul, .fr-element ol, .def ul, .def ol {
  margin: 20px 0 10px 30px;
}
/* line 72, /Users/higuchitakumi/smapr/app/assets/stylesheets/acstyle.scss */
.fr-element .bold, .def .bold {
  font-weight: bold;
}
/* line 75, /Users/higuchitakumi/smapr/app/assets/stylesheets/acstyle.scss */
.fr-element .quoteBox, .def .quoteBox {
  width: 100%;
  font-size: 0.8em;
  text-align: right;
}
/* line 80, /Users/higuchitakumi/smapr/app/assets/stylesheets/acstyle.scss */
.fr-element h2, .def h2 {
  border-bottom: 1px solid #ddd;
  padding-bottom: .1em;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 30px;
}
/* line 87, /Users/higuchitakumi/smapr/app/assets/stylesheets/acstyle.scss */
.fr-element h3, .def h3 {
  position: relative;
  font-weight: bold;
  font-size: 1em;
  color: #808080;
  padding: 2px 18px;
  margin: 0px 0 20px 0;
}
/* line 94, /Users/higuchitakumi/smapr/app/assets/stylesheets/acstyle.scss */
.fr-element h3:before, .def h3:before {
  position: absolute;
  top: 50%;
  left: 10px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  content: '';
  background: #00aced;
  width: 0.8em;
  height: 0.8em;
}
