/* line 3, /Users/higuchitakumi/smapr/app/assets/stylesheets/acstyle.scss */
.articleBox {
  width: calc(100% - 40px);
  height: 100%;
  padding: 20px 20px 20px 20px;
  background: white;
}
/* line 9, /Users/higuchitakumi/smapr/app/assets/stylesheets/acstyle.scss */
.articleBox img {
  width: 100%;
  margin: 0 0 10px 0;
}
/* line 13, /Users/higuchitakumi/smapr/app/assets/stylesheets/acstyle.scss */
.articleBox blockquote {
  margin: 10px 0;
}
/* line 16, /Users/higuchitakumi/smapr/app/assets/stylesheets/acstyle.scss */
.articleBox .paid-ens {
  width: 100%;
  text-align: center;
  font-size: 0.8em;
  color: #aaa;
}
/* line 22, /Users/higuchitakumi/smapr/app/assets/stylesheets/acstyle.scss */
.articleBox p {
  line-height: 2em;
  margin: 0 0 5px 0;
}
/* line 26, /Users/higuchitakumi/smapr/app/assets/stylesheets/acstyle.scss */
.articleBox ul, .articleBox ol {
  margin: 20px 0 10px 30px;
}
/* line 29, /Users/higuchitakumi/smapr/app/assets/stylesheets/acstyle.scss */
.articleBox .bold {
  font-weight: bold;
}
/* line 32, /Users/higuchitakumi/smapr/app/assets/stylesheets/acstyle.scss */
.articleBox .quoteBox {
  width: 100%;
  font-size: 0.8em;
  text-align: right;
}
/* line 37, /Users/higuchitakumi/smapr/app/assets/stylesheets/acstyle.scss */
.articleBox h2 {
  position: relative;
  font-weight: 580;
  padding: 5px 0;
  margin: 10px 0;
  font-weight: bold;
  background: #66cdaa;
  color: #fffafa;
}
/* line 46, /Users/higuchitakumi/smapr/app/assets/stylesheets/acstyle.scss */
.articleBox h3 {
  position: relative;
  font-weight: bold;
  font-size: 1em;
  color: #808080;
  padding: 2px 30px;
  margin: 5px 0 25px 0;
}
/* line 53, /Users/higuchitakumi/smapr/app/assets/stylesheets/acstyle.scss */
.articleBox h3:before {
  position: absolute;
  top: 50%;
  left: 10px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  content: '';
  background: #00aced;
  width: 0.8em;
  height: 0.8em;
}
/* line 65, /Users/higuchitakumi/smapr/app/assets/stylesheets/acstyle.scss */
.articleBox .paid, .articleBox .paid-end {
  display: flex;
  align-items: center;
  padding: 20px 0 5px 0;
  color: #00aced;
}
/* line 70, /Users/higuchitakumi/smapr/app/assets/stylesheets/acstyle.scss */
.articleBox .paid:before, .articleBox .paid:after, .articleBox .paid-end:before, .articleBox .paid-end:after {
  border-top: 1px solid;
  content: "";
  flex-grow: 1;
}
/* line 75, /Users/higuchitakumi/smapr/app/assets/stylesheets/acstyle.scss */
.articleBox .paid:before, .articleBox .paid-end:before {
  margin-right: 1rem;
}
/* line 78, /Users/higuchitakumi/smapr/app/assets/stylesheets/acstyle.scss */
.articleBox .paid:after, .articleBox .paid-end:after {
  margin-left: 1rem;
}
/* line 82, /Users/higuchitakumi/smapr/app/assets/stylesheets/acstyle.scss */
.articleBox .paid-con {
  width: 100%;
  height: 100px;
  border: 1px solid #f0f0f0;
}

/* line 90, /Users/higuchitakumi/smapr/app/assets/stylesheets/acstyle.scss */
.fr-element blockquote, .def blockquote {
  margin: 10px 0;
}
/* line 93, /Users/higuchitakumi/smapr/app/assets/stylesheets/acstyle.scss */
.fr-element p, .def p {
  line-height: 2em;
  margin: 0 0 10px 10px;
}
/* line 97, /Users/higuchitakumi/smapr/app/assets/stylesheets/acstyle.scss */
.fr-element ul, .fr-element ol, .def ul, .def ol {
  margin: 20px 0 10px 30px;
}
/* line 100, /Users/higuchitakumi/smapr/app/assets/stylesheets/acstyle.scss */
.fr-element .bold, .def .bold {
  font-weight: bold;
}
/* line 103, /Users/higuchitakumi/smapr/app/assets/stylesheets/acstyle.scss */
.fr-element .quoteBox, .def .quoteBox {
  width: 100%;
  font-size: 0.8em;
  text-align: right;
}
/* line 108, /Users/higuchitakumi/smapr/app/assets/stylesheets/acstyle.scss */
.fr-element h2, .def h2 {
  border-bottom: 1px solid #ddd;
  padding-bottom: .1em;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 30px;
}
/* line 115, /Users/higuchitakumi/smapr/app/assets/stylesheets/acstyle.scss */
.fr-element h3, .def h3 {
  position: relative;
  font-weight: bold;
  font-size: 1em;
  color: #808080;
  padding: 2px 18px;
  margin: 0px 0 20px 0;
}
/* line 122, /Users/higuchitakumi/smapr/app/assets/stylesheets/acstyle.scss */
.fr-element h3:before, .def h3:before {
  position: absolute;
  top: 50%;
  left: 10px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  content: '';
  background: #00aced;
  width: 0.8em;
  height: 0.8em;
}
/* line 134, /Users/higuchitakumi/smapr/app/assets/stylesheets/acstyle.scss */
.fr-element .paid, .fr-element .paid-end, .def .paid, .def .paid-end {
  display: flex;
  align-items: center;
  padding: 20px 0;
  color: #00aced;
}
/* line 139, /Users/higuchitakumi/smapr/app/assets/stylesheets/acstyle.scss */
.fr-element .paid:before, .fr-element .paid:after, .fr-element .paid-end:before, .fr-element .paid-end:after, .def .paid:before, .def .paid:after, .def .paid-end:before, .def .paid-end:after {
  border-top: 1px solid;
  content: "";
  flex-grow: 1;
}
/* line 144, /Users/higuchitakumi/smapr/app/assets/stylesheets/acstyle.scss */
.fr-element .paid:before, .fr-element .paid-end:before, .def .paid:before, .def .paid-end:before {
  margin-right: 1rem;
}
/* line 147, /Users/higuchitakumi/smapr/app/assets/stylesheets/acstyle.scss */
.fr-element .paid:after, .fr-element .paid-end:after, .def .paid:after, .def .paid-end:after {
  margin-left: 1rem;
}
