/* line 3, /Users/higuchitakumi/smapr/app/assets/stylesheets/acstyle.scss */
.fr-element blockquote, .def blockquote {
  margin: 10px 0;
}
/* line 6, /Users/higuchitakumi/smapr/app/assets/stylesheets/acstyle.scss */
.fr-element p, .def p {
  line-height: 2em;
  margin: 0 0 10px 10px;
}
/* line 10, /Users/higuchitakumi/smapr/app/assets/stylesheets/acstyle.scss */
.fr-element ul, .fr-element ol, .def ul, .def ol {
  margin: 20px 0 10px 30px;
}
/* line 13, /Users/higuchitakumi/smapr/app/assets/stylesheets/acstyle.scss */
.fr-element .bold, .def .bold {
  font-weight: bold;
}
/* line 16, /Users/higuchitakumi/smapr/app/assets/stylesheets/acstyle.scss */
.fr-element .quoteBox, .def .quoteBox {
  width: 100%;
  font-size: 0.8em;
  text-align: right;
}
/* line 21, /Users/higuchitakumi/smapr/app/assets/stylesheets/acstyle.scss */
.fr-element h2, .def h2 {
  border-bottom: 1px solid #ddd;
  padding-bottom: .1em;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 30px;
}
/* line 28, /Users/higuchitakumi/smapr/app/assets/stylesheets/acstyle.scss */
.fr-element h3, .def h3 {
  position: relative;
  font-weight: bold;
  font-size: 1em;
  color: #808080;
  padding: 2px 18px;
  margin: 0px 0 20px 0;
}
/* line 35, /Users/higuchitakumi/smapr/app/assets/stylesheets/acstyle.scss */
.fr-element h3:before, .def h3:before {
  position: absolute;
  top: 50%;
  left: 10px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  content: '';
  background: #00aced;
  width: 0.8em;
  height: 0.8em;
}
/* line 47, /Users/higuchitakumi/smapr/app/assets/stylesheets/acstyle.scss */
.fr-element .paid, .fr-element .paid-end, .def .paid, .def .paid-end {
  display: flex;
  align-items: center;
  padding: 20px 0;
  color: #00aced;
}
/* line 52, /Users/higuchitakumi/smapr/app/assets/stylesheets/acstyle.scss */
.fr-element .paid:before, .fr-element .paid:after, .fr-element .paid-end:before, .fr-element .paid-end:after, .def .paid:before, .def .paid:after, .def .paid-end:before, .def .paid-end:after {
  border-top: 1px solid;
  content: "";
  flex-grow: 1;
}
/* line 57, /Users/higuchitakumi/smapr/app/assets/stylesheets/acstyle.scss */
.fr-element .paid:before, .fr-element .paid-end:before, .def .paid:before, .def .paid-end:before {
  margin-right: 1rem;
}
/* line 60, /Users/higuchitakumi/smapr/app/assets/stylesheets/acstyle.scss */
.fr-element .paid:after, .fr-element .paid-end:after, .def .paid:after, .def .paid-end:after {
  margin-left: 1rem;
}
