/* line 1, /Users/higuchitakumi/smapr/app/assets/stylesheets/article_list_mane.scss */
.work_container {
  display: flex;
  width: 100%;
  border-bottom: 1px solid #f0f0f0;
}
/* line 5, /Users/higuchitakumi/smapr/app/assets/stylesheets/article_list_mane.scss */
.work_container .left {
  width: calc(100% - 148px);
  padding: 10px;
}
/* line 8, /Users/higuchitakumi/smapr/app/assets/stylesheets/article_list_mane.scss */
.work_container .left a.ind {
  text-decoration: none;
}
/* line 12, /Users/higuchitakumi/smapr/app/assets/stylesheets/article_list_mane.scss */
.work_container .left .ats {
  padding: 0 0 10px 0;
}
/* line 14, /Users/higuchitakumi/smapr/app/assets/stylesheets/article_list_mane.scss */
.work_container .left .ats:hover {
  text-decoration: underline;
}
/* line 19, /Users/higuchitakumi/smapr/app/assets/stylesheets/article_list_mane.scss */
.work_container .right {
  width: 148px;
  padding: 10px;
}
/* line 22, /Users/higuchitakumi/smapr/app/assets/stylesheets/article_list_mane.scss */
.work_container .right div {
  display: flex;
  margin-bottom: 10px;
}
/* line 25, /Users/higuchitakumi/smapr/app/assets/stylesheets/article_list_mane.scss */
.work_container .right div a.jqw {
  width: auto;
}
/* line 28, /Users/higuchitakumi/smapr/app/assets/stylesheets/article_list_mane.scss */
.work_container .right div a {
  display: block;
  width: 30px;
  height: 1.5em;
  border-radius: 5px;
  border: 1px solid #aaa;
  padding: 5px 20px 3px 20px;
  margin: 0px 2px;
  text-decoration: none;
  text-align: center;
  font-size: 0.8em;
}
/* line 39, /Users/higuchitakumi/smapr/app/assets/stylesheets/article_list_mane.scss */
.work_container .right div a:hover {
  border: 1px dotted #aaa;
}

/* line 52, /Users/higuchitakumi/smapr/app/assets/stylesheets/article_list_mane.scss */
nav.pagination {
  display: none;
}
