@charset "UTF-8";
/* line 1, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
html, body, div, span, applet, object, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
  color: #494949;
}

/* line 11, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
html, body {
  background: #f8f8f8;
}

/* line 18, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
.linkContainer {
  background: #00aced;
  border-radius: 500px;
  color: white;
  text-decoration: none;
  text-align: center;
}

/* line 26, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
.tnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 20px);
  margin: 0 0 5px 0;
  padding: 0 10px;
  border-bottom: 1px solid #f0f0f0;
}
/* line 34, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
.tnav nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  width: 80%;
  text-align: center;
}
/* line 41, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
.tnav nav li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  min-width: 70px;
}
/* line 48, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
.tnav nav a {
  display: block;
  width: 100%;
  text-decoration: none;
  color: #555;
  padding-bottom: 5px;
  font-size: 0.8em;
}
/* line 56, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
.tnav nav li.current {
  border-bottom: 3px solid #00aced;
}
/* line 59, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
.tnav nav li.des {
  border-bottom: 3px solid #ffffff;
}
/* line 62, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
.tnav nav li:hover {
  color: #E7DA66;
  border-bottom: 3px solid #00aced;
}
/* line 66, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
.tnav nav li a {
  cursor: pointer;
}

@media screen and (min-width: 1000px) {
  /* line 74, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .main_flame {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  /* line 78, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .main_flame .main_inner {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 1000px;
    margin: 10px 0 0 0;
  }
  /* line 84, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .main_flame .main_inner .main_container {
    width: 650px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 20px;
    background: white;
    border-radius: 10px;
  }
  /* line 92, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .main_flame .main_inner .main_container_n {
    width: 690px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 20px 0;
    background: white;
    border-radius: 10px;
  }
  /* line 100, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .main_flame .main_inner .main_cont {
    width: 100%;
    margin-bottom: 10px;
    padding: 20px 0;
    background: white;
  }
  /* line 106, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .main_flame .main_inner .main_container_a {
    width: 740px;
    height: calc(100vh - 70px);
    background: white;
  }

  /* line 113, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .tnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 20px);
    margin: 0 0 15px 0;
    padding: 0 10px;
    border-bottom: 1px solid #f0f0f0;
  }
  /* line 121, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .tnav nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    width: 80%;
    text-align: center;
  }
  /* line 128, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .tnav nav li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    min-width: 70px;
  }
  /* line 135, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .tnav nav a {
    display: block;
    width: 100%;
    text-decoration: none;
    color: #555;
    padding-bottom: 5px;
    font-size: 0.8em;
  }
  /* line 143, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .tnav nav li.current {
    border-bottom: 3px solid #00aced;
  }
  /* line 146, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .tnav nav li.des {
    border-bottom: 3px solid #ffffff;
  }
  /* line 149, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .tnav nav li:hover {
    color: #E7DA66;
    border-bottom: 3px solid #00aced;
  }
  /* line 153, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .tnav nav li a {
    cursor: pointer;
  }

  /* line 158, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .artList {
    display: flex;
    padding: 5px 0px;
    text-decoration: none;
  }
  /* line 161, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .artList .p-img {
    width: 30%;
  }
  /* line 163, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .artList .p-img img {
    display: block;
    width: 100%;
    height: 110px;
    border-radius: 5px;
    object-fit: cover;
  }
  /* line 171, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .artList .p-cont {
    width: calc(70% - 10px);
    padding: 5px 10px 5px 0;
  }
  /* line 174, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .artList .p-cont p {
    margin: 0;
    line-height: 1.8em;
  }
  /* line 178, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .artList .p-cont p.tcdw {
    font-weight: bold;
    font-size: 1.1em;
  }
  /* line 182, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .artList .p-cont p.fouw {
    font-size: 0.9em;
    color: #aaa;
  }
  /* line 186, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .artList .p-cont .title {
    font-weight: bold;
    font-size: 1.2em;
  }
  /* line 192, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .artList:hover title {
    text-decoration: underline;
  }

  /* line 197, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .Inputline {
    border: 1px solid #f0f0f0;
    border-radius: 5px;
    padding: 0 10px;
    margin: 0 15px 0 0;
  }
  /* line 202, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .Inputline .searchInput {
    background-color: transparent;
    border: none;
    padding: 0 0 0 10px;
    word-wrap: break-word;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    height: 34px;
    font-size: 1em;
  }

  /* line 213, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .fa-search {
    color: #aaa;
  }
}
@media screen and (max-width: 1000px) {
  /* line 222, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .main_flame {
    width: 100%;
  }
  /* line 224, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .main_flame .main_inner {
    width: 100%;
  }
  /* line 226, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .main_flame .main_inner .main_container {
    width: 100%;
    background: white;
  }
  /* line 230, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .main_flame .main_inner .main_container_n {
    width: 100%;
    background: white;
  }
  /* line 234, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .main_flame .main_inner .main_container_a {
    width: 100%;
    height: calc(100vh - 70px);
    background: white;
  }

  /* line 241, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .tnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 20px);
    margin: 0 0 0px 0;
    border-bottom: 1px solid #f0f0f0;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  /* line 252, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .tnav::-webkit-scrollbar {
    display: none;
  }
  /* line 255, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .tnav nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    width: 80%;
    text-align: center;
  }
  /* line 262, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .tnav nav li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 2px;
    min-width: 70px;
  }
  /* line 269, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .tnav nav a {
    display: block;
    width: 100%;
    text-decoration: none;
    color: #555;
    margin: 0;
    padding: 0;
    font-size: 0.8em;
  }
  /* line 278, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .tnav nav li.current {
    border-bottom: 3px solid #00aced;
  }
  /* line 281, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .tnav nav li.des {
    border-bottom: 3px solid #ffffff;
  }
  /* line 284, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .tnav nav li:hover {
    color: #E7DA66;
    border-bottom: 3px solid #00aced;
  }
  /* line 288, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .tnav nav li a {
    cursor: pointer;
  }

  /* line 293, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .artList {
    display: flex;
    padding: 5px 0px 10px 0px;
    border-bottom: 1px solid #f0f0f0;
    text-decoration: none;
  }
  /* line 297, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .artList .p-img {
    width: 35vw;
  }
  /* line 299, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .artList .p-img img {
    display: block;
    width: 100%;
    height: calc(35vw * 0.56);
    border-radius: 5px;
    object-fit: cover;
    border: 1px solid #f0f0f0;
    margin-top: 5px;
  }
  /* line 309, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .artList .p-cont {
    width: calc(65vw - 30px);
  }
  /* line 311, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .artList .p-cont p.fouw {
    font-size: 0.8em;
    color: #aaa;
  }
  /* line 315, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .artList .p-cont .title {
    font-weight: bold;
    font-size: 1em;
  }
  /* line 321, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .artList:hover .title {
    text-decoration: underline;
  }

  /* line 325, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .sub_flame, .scoreContainer, .sidebar, .help_flame {
    display: none;
  }

  /* line 329, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .Inputline {
    border: 1px solid #f0f0f0;
    border-radius: 5px;
    padding: 0 7px;
    margin: 0 10px 0 0;
  }
  /* line 334, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .Inputline .searchInput {
    background-color: transparent;
    border: none;
    padding: 0 0 0 7px;
    width: 200px;
    word-wrap: break-word;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    height: 34px;
    font-size: 0.8em;
  }

  /* line 346, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .iiHrap {
    padding: 20px 0px 20px 0;
    width: 100%;
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: 10px;
  }
  /* line 351, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .iiHrap .InputlineHome {
    border: 1px solid #f0f0f0;
    border-radius: 5px;
    padding: 0 7px;
    margin: 0 10px;
    width: calc(100% - 34px);
  }
  /* line 357, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .iiHrap .InputlineHome .searchInput {
    background-color: transparent;
    border: none;
    padding: 0 0 0 5px;
    width: 200px;
    word-wrap: break-word;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    height: 43px;
    font-size: 1em;
    width: calc(100% - 34px);
  }

  /* line 371, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .fa-search {
    color: #aaa;
  }
}
/* line 1, /Users/higuchitakumi/smapr/app/assets/stylesheets/article_list_mane.scss */
.work_container {
  display: flex;
  width: 100%;
  border-bottom: 1px solid #f0f0f0;
}
/* line 5, /Users/higuchitakumi/smapr/app/assets/stylesheets/article_list_mane.scss */
.work_container .left {
  width: calc(100% - 148px);
  padding: 10px;
}
/* line 8, /Users/higuchitakumi/smapr/app/assets/stylesheets/article_list_mane.scss */
.work_container .left a.ind {
  text-decoration: none;
}
/* line 12, /Users/higuchitakumi/smapr/app/assets/stylesheets/article_list_mane.scss */
.work_container .left .ats {
  padding: 0 0 10px 0;
}
/* line 14, /Users/higuchitakumi/smapr/app/assets/stylesheets/article_list_mane.scss */
.work_container .left .ats:hover {
  text-decoration: underline;
}
/* line 19, /Users/higuchitakumi/smapr/app/assets/stylesheets/article_list_mane.scss */
.work_container .right {
  width: 148px;
  padding: 10px;
}
/* line 22, /Users/higuchitakumi/smapr/app/assets/stylesheets/article_list_mane.scss */
.work_container .right div {
  display: flex;
  margin-bottom: 10px;
}
/* line 25, /Users/higuchitakumi/smapr/app/assets/stylesheets/article_list_mane.scss */
.work_container .right div a.jqw {
  width: auto;
}
/* line 28, /Users/higuchitakumi/smapr/app/assets/stylesheets/article_list_mane.scss */
.work_container .right div a {
  display: block;
  width: 30px;
  height: 1.5em;
  border-radius: 5px;
  border: 1px solid #aaa;
  padding: 5px 20px 3px 20px;
  margin: 0px 2px;
  text-decoration: none;
  text-align: center;
  font-size: 0.8em;
}
/* line 39, /Users/higuchitakumi/smapr/app/assets/stylesheets/article_list_mane.scss */
.work_container .right div a:hover {
  border: 1px dotted #aaa;
}

/* line 52, /Users/higuchitakumi/smapr/app/assets/stylesheets/article_list_mane.scss */
nav.pagination {
  display: none;
}

/* line 3, /Users/higuchitakumi/smapr/app/assets/stylesheets/acstyle.scss */
.fr-element blockquote, .def blockquote {
  margin: 10px 0;
}
/* line 6, /Users/higuchitakumi/smapr/app/assets/stylesheets/acstyle.scss */
.fr-element p, .def p {
  line-height: 2em;
  margin: 0 0 10px 10px;
}
/* line 10, /Users/higuchitakumi/smapr/app/assets/stylesheets/acstyle.scss */
.fr-element ul, .fr-element ol, .def ul, .def ol {
  margin: 20px 0 10px 30px;
}
/* line 13, /Users/higuchitakumi/smapr/app/assets/stylesheets/acstyle.scss */
.fr-element .bold, .def .bold {
  font-weight: bold;
}
/* line 16, /Users/higuchitakumi/smapr/app/assets/stylesheets/acstyle.scss */
.fr-element .quoteBox, .def .quoteBox {
  width: 100%;
  font-size: 0.8em;
  text-align: right;
}
/* line 21, /Users/higuchitakumi/smapr/app/assets/stylesheets/acstyle.scss */
.fr-element h2, .def h2 {
  border-bottom: 1px solid #ddd;
  padding-bottom: .1em;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 30px;
}
/* line 28, /Users/higuchitakumi/smapr/app/assets/stylesheets/acstyle.scss */
.fr-element h3, .def h3 {
  position: relative;
  font-weight: bold;
  font-size: 1em;
  color: #808080;
  padding: 2px 18px;
  margin: 0px 0 20px 0;
}
/* line 35, /Users/higuchitakumi/smapr/app/assets/stylesheets/acstyle.scss */
.fr-element h3:before, .def h3:before {
  position: absolute;
  top: 50%;
  left: 10px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  content: '';
  background: #00aced;
  width: 0.8em;
  height: 0.8em;
}
/* line 47, /Users/higuchitakumi/smapr/app/assets/stylesheets/acstyle.scss */
.fr-element .paid, .fr-element .paid-end, .def .paid, .def .paid-end {
  display: flex;
  align-items: center;
  padding: 20px 0;
  color: #00aced;
}
/* line 52, /Users/higuchitakumi/smapr/app/assets/stylesheets/acstyle.scss */
.fr-element .paid:before, .fr-element .paid:after, .fr-element .paid-end:before, .fr-element .paid-end:after, .def .paid:before, .def .paid:after, .def .paid-end:before, .def .paid-end:after {
  border-top: 1px solid;
  content: "";
  flex-grow: 1;
}
/* line 57, /Users/higuchitakumi/smapr/app/assets/stylesheets/acstyle.scss */
.fr-element .paid:before, .fr-element .paid-end:before, .def .paid:before, .def .paid-end:before {
  margin-right: 1rem;
}
/* line 60, /Users/higuchitakumi/smapr/app/assets/stylesheets/acstyle.scss */
.fr-element .paid:after, .fr-element .paid-end:after, .def .paid:after, .def .paid-end:after {
  margin-left: 1rem;
}

/* line 2, /Users/higuchitakumi/smapr/app/assets/stylesheets/prooflyMainStyle.scss */
.pacard {
  display: flex;
}
/* line 4, /Users/higuchitakumi/smapr/app/assets/stylesheets/prooflyMainStyle.scss */
.pacard .p-left {
  width: 30%;
  padding-right: 10px;
}
/* line 7, /Users/higuchitakumi/smapr/app/assets/stylesheets/prooflyMainStyle.scss */
.pacard .p-left img {
  display: block;
  width: 100%;
  border-radius: 10px;
}
/* line 13, /Users/higuchitakumi/smapr/app/assets/stylesheets/prooflyMainStyle.scss */
.pacard .p-right {
  width: calc(70% - 10px;);
}
/* line 15, /Users/higuchitakumi/smapr/app/assets/stylesheets/prooflyMainStyle.scss */
.pacard .p-right p {
  margin: 0;
  line-height: 1.8em;
}
/* line 19, /Users/higuchitakumi/smapr/app/assets/stylesheets/prooflyMainStyle.scss */
.pacard .p-right p.tcdw {
  font-weight: bold;
  font-size: 1.1em;
}
/* line 23, /Users/higuchitakumi/smapr/app/assets/stylesheets/prooflyMainStyle.scss */
.pacard .p-right p.fouw {
  font-size: 0.9em;
  color: #aaa;
}

/* line 30, /Users/higuchitakumi/smapr/app/assets/stylesheets/prooflyMainStyle.scss */
.paid-con {
  width: 100%;
  border-radius: 10px;
  text-decoration: none;
}
/* line 34, /Users/higuchitakumi/smapr/app/assets/stylesheets/prooflyMainStyle.scss */
.paid-con:hover {
  text-decoration: underline;
}

/* line 42, /Users/higuchitakumi/smapr/app/assets/stylesheets/prooflyMainStyle.scss */
.pMS p, .fr-element p {
  line-height: 2em;
  margin: 0 0 25px 0;
}
/* line 46, /Users/higuchitakumi/smapr/app/assets/stylesheets/prooflyMainStyle.scss */
.pMS img, .fr-element img {
  width: 100%;
  margin: 0 0 10px 0;
}
/* line 50, /Users/higuchitakumi/smapr/app/assets/stylesheets/prooflyMainStyle.scss */
.pMS blockquote, .fr-element blockquote {
  margin: 10px 0;
  background: #f8f8f8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.19);
  padding: 15px;
  border-radius: 5px;
}
/* line 56, /Users/higuchitakumi/smapr/app/assets/stylesheets/prooflyMainStyle.scss */
.pMS .paid-ens, .fr-element .paid-ens {
  width: 100%;
  text-align: center;
  font-size: 0.8em;
  color: #aaa;
}
/* line 62, /Users/higuchitakumi/smapr/app/assets/stylesheets/prooflyMainStyle.scss */
.pMS .box1, .fr-element .box1 {
  position: relative;
  margin: 10px 0 15px 0;
  padding: 35px 10px 10px 10px;
  border: dashed 1px #808080;
  border-radius: 8px;
}
/* line 68, /Users/higuchitakumi/smapr/app/assets/stylesheets/prooflyMainStyle.scss */
.pMS .box1 .box1-title, .fr-element .box1 .box1-title {
  position: absolute;
  display: inline-block;
  top: -13px;
  left: 10px;
  padding: 0 9px;
  background: #FFF;
  font-weight: bold;
}
/* line 79, /Users/higuchitakumi/smapr/app/assets/stylesheets/prooflyMainStyle.scss */
.pMS ul, .pMS ol, .fr-element ul, .fr-element ol {
  margin: 20px 0 10px 30px;
}
/* line 82, /Users/higuchitakumi/smapr/app/assets/stylesheets/prooflyMainStyle.scss */
.pMS .bold, .fr-element .bold {
  font-weight: bold;
}
/* line 85, /Users/higuchitakumi/smapr/app/assets/stylesheets/prooflyMainStyle.scss */
.pMS .quoteBox, .fr-element .quoteBox {
  width: 100%;
  font-size: 0.8em;
  text-align: right;
}
/* line 90, /Users/higuchitakumi/smapr/app/assets/stylesheets/prooflyMainStyle.scss */
.pMS h2, .fr-element h2 {
  font-weight: 510;
  padding: 5px 0px;
  width: 100%;
  margin: 10px 0;
  border-bottom: solid 2px #aaa;
  font-size: 1.2em;
}
/* line 98, /Users/higuchitakumi/smapr/app/assets/stylesheets/prooflyMainStyle.scss */
.pMS h3, .pMS h4, .pMS h5, .pMS h6, .fr-element h3, .fr-element h4, .fr-element h5, .fr-element h6 {
  position: relative;
  font-weight: bold;
  font-size: 1em;
  color: #808080;
  padding: 2px 30px;
  margin: 5px 0 25px 0;
}
/* line 105, /Users/higuchitakumi/smapr/app/assets/stylesheets/prooflyMainStyle.scss */
.pMS h3:before, .pMS h4:before, .pMS h5:before, .pMS h6:before, .fr-element h3:before, .fr-element h4:before, .fr-element h5:before, .fr-element h6:before {
  position: absolute;
  top: 50%;
  left: 10px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  content: '';
  background: #00aced;
  width: 0.8em;
  height: 0.8em;
}
/* line 117, /Users/higuchitakumi/smapr/app/assets/stylesheets/prooflyMainStyle.scss */
.pMS .paid, .pMS .paid-end, .fr-element .paid, .fr-element .paid-end {
  display: flex;
  align-items: center;
  padding: 20px 0 5px 0;
  color: #00aced;
}
/* line 122, /Users/higuchitakumi/smapr/app/assets/stylesheets/prooflyMainStyle.scss */
.pMS .paid:before, .pMS .paid:after, .pMS .paid-end:before, .pMS .paid-end:after, .fr-element .paid:before, .fr-element .paid:after, .fr-element .paid-end:before, .fr-element .paid-end:after {
  border-top: 1px solid;
  content: "";
  flex-grow: 1;
}
/* line 127, /Users/higuchitakumi/smapr/app/assets/stylesheets/prooflyMainStyle.scss */
.pMS .paid:before, .pMS .paid-end:before, .fr-element .paid:before, .fr-element .paid-end:before {
  margin-right: 1rem;
}
/* line 130, /Users/higuchitakumi/smapr/app/assets/stylesheets/prooflyMainStyle.scss */
.pMS .paid:after, .pMS .paid-end:after, .fr-element .paid:after, .fr-element .paid-end:after {
  margin-left: 1rem;
}

/* line 135, /Users/higuchitakumi/smapr/app/assets/stylesheets/prooflyMainStyle.scss */
.nextbtn {
  display: block;
  padding: 5px;
  border: 1px solid #00acee;
  color: #00acee;
  border-radius: 5px;
  text-align: center;
  transition: all  0.5s ease;
  font-size: 0.8em;
  text-decoration: none;
}
/* line 145, /Users/higuchitakumi/smapr/app/assets/stylesheets/prooflyMainStyle.scss */
.nextbtn:hover {
  background: #00acee;
  color: white;
}
/* line 149, /Users/higuchitakumi/smapr/app/assets/stylesheets/prooflyMainStyle.scss */
.nextbtn i {
  display: inline-block;
  padding-left: 5px;
  font-size: 0.9em;
  color: #00acee;
}

/* line 156, /Users/higuchitakumi/smapr/app/assets/stylesheets/prooflyMainStyle.scss */
.sidtagbtn {
  width: calc(100% - 24px);
  margin: 10px 7px 0 7px;
}

/* line 160, /Users/higuchitakumi/smapr/app/assets/stylesheets/prooflyMainStyle.scss */
iframe {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
}

/* line 1, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
html, body, div, span, applet, object, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
  color: #494949;
}

/* line 11, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
html, body {
  background: #f8f8f8;
}

/* line 18, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
.linkContainer {
  background: #00aced;
  border-radius: 500px;
  color: white;
  text-decoration: none;
  text-align: center;
}

/* line 26, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
.tnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 20px);
  margin: 0 0 5px 0;
  padding: 0 10px;
  border-bottom: 1px solid #f0f0f0;
}
/* line 34, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
.tnav nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  width: 80%;
  text-align: center;
}
/* line 41, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
.tnav nav li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  min-width: 70px;
}
/* line 48, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
.tnav nav a {
  display: block;
  width: 100%;
  text-decoration: none;
  color: #555;
  padding-bottom: 5px;
  font-size: 0.8em;
}
/* line 56, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
.tnav nav li.current {
  border-bottom: 3px solid #00aced;
}
/* line 59, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
.tnav nav li.des {
  border-bottom: 3px solid #ffffff;
}
/* line 62, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
.tnav nav li:hover {
  color: #E7DA66;
  border-bottom: 3px solid #00aced;
}
/* line 66, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
.tnav nav li a {
  cursor: pointer;
}

@media screen and (min-width: 1000px) {
  /* line 74, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .main_flame {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  /* line 78, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .main_flame .main_inner {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 1000px;
    margin: 10px 0 0 0;
  }
  /* line 84, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .main_flame .main_inner .main_container {
    width: 650px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 20px;
    background: white;
    border-radius: 10px;
  }
  /* line 92, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .main_flame .main_inner .main_container_n {
    width: 690px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 20px 0;
    background: white;
    border-radius: 10px;
  }
  /* line 100, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .main_flame .main_inner .main_cont {
    width: 100%;
    margin-bottom: 10px;
    padding: 20px 0;
    background: white;
  }
  /* line 106, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .main_flame .main_inner .main_container_a {
    width: 740px;
    height: calc(100vh - 70px);
    background: white;
  }

  /* line 113, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .tnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 20px);
    margin: 0 0 15px 0;
    padding: 0 10px;
    border-bottom: 1px solid #f0f0f0;
  }
  /* line 121, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .tnav nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    width: 80%;
    text-align: center;
  }
  /* line 128, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .tnav nav li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    min-width: 70px;
  }
  /* line 135, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .tnav nav a {
    display: block;
    width: 100%;
    text-decoration: none;
    color: #555;
    padding-bottom: 5px;
    font-size: 0.8em;
  }
  /* line 143, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .tnav nav li.current {
    border-bottom: 3px solid #00aced;
  }
  /* line 146, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .tnav nav li.des {
    border-bottom: 3px solid #ffffff;
  }
  /* line 149, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .tnav nav li:hover {
    color: #E7DA66;
    border-bottom: 3px solid #00aced;
  }
  /* line 153, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .tnav nav li a {
    cursor: pointer;
  }

  /* line 158, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .artList {
    display: flex;
    padding: 5px 0px;
    text-decoration: none;
  }
  /* line 161, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .artList .p-img {
    width: 30%;
  }
  /* line 163, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .artList .p-img img {
    display: block;
    width: 100%;
    height: 110px;
    border-radius: 5px;
    object-fit: cover;
  }
  /* line 171, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .artList .p-cont {
    width: calc(70% - 10px);
    padding: 5px 10px 5px 0;
  }
  /* line 174, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .artList .p-cont p {
    margin: 0;
    line-height: 1.8em;
  }
  /* line 178, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .artList .p-cont p.tcdw {
    font-weight: bold;
    font-size: 1.1em;
  }
  /* line 182, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .artList .p-cont p.fouw {
    font-size: 0.9em;
    color: #aaa;
  }
  /* line 186, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .artList .p-cont .title {
    font-weight: bold;
    font-size: 1.2em;
  }
  /* line 192, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .artList:hover title {
    text-decoration: underline;
  }

  /* line 197, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .Inputline {
    border: 1px solid #f0f0f0;
    border-radius: 5px;
    padding: 0 10px;
    margin: 0 15px 0 0;
  }
  /* line 202, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .Inputline .searchInput {
    background-color: transparent;
    border: none;
    padding: 0 0 0 10px;
    word-wrap: break-word;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    height: 34px;
    font-size: 1em;
  }

  /* line 213, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .fa-search {
    color: #aaa;
  }
}
@media screen and (max-width: 1000px) {
  /* line 222, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .main_flame {
    width: 100%;
  }
  /* line 224, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .main_flame .main_inner {
    width: 100%;
  }
  /* line 226, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .main_flame .main_inner .main_container {
    width: 100%;
    background: white;
  }
  /* line 230, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .main_flame .main_inner .main_container_n {
    width: 100%;
    background: white;
  }
  /* line 234, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .main_flame .main_inner .main_container_a {
    width: 100%;
    height: calc(100vh - 70px);
    background: white;
  }

  /* line 241, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .tnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 20px);
    margin: 0 0 0px 0;
    border-bottom: 1px solid #f0f0f0;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  /* line 252, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .tnav::-webkit-scrollbar {
    display: none;
  }
  /* line 255, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .tnav nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    width: 80%;
    text-align: center;
  }
  /* line 262, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .tnav nav li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 2px;
    min-width: 70px;
  }
  /* line 269, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .tnav nav a {
    display: block;
    width: 100%;
    text-decoration: none;
    color: #555;
    margin: 0;
    padding: 0;
    font-size: 0.8em;
  }
  /* line 278, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .tnav nav li.current {
    border-bottom: 3px solid #00aced;
  }
  /* line 281, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .tnav nav li.des {
    border-bottom: 3px solid #ffffff;
  }
  /* line 284, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .tnav nav li:hover {
    color: #E7DA66;
    border-bottom: 3px solid #00aced;
  }
  /* line 288, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .tnav nav li a {
    cursor: pointer;
  }

  /* line 293, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .artList {
    display: flex;
    padding: 5px 0px 10px 0px;
    border-bottom: 1px solid #f0f0f0;
    text-decoration: none;
  }
  /* line 297, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .artList .p-img {
    width: 35vw;
  }
  /* line 299, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .artList .p-img img {
    display: block;
    width: 100%;
    height: calc(35vw * 0.56);
    border-radius: 5px;
    object-fit: cover;
    border: 1px solid #f0f0f0;
    margin-top: 5px;
  }
  /* line 309, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .artList .p-cont {
    width: calc(65vw - 30px);
  }
  /* line 311, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .artList .p-cont p.fouw {
    font-size: 0.8em;
    color: #aaa;
  }
  /* line 315, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .artList .p-cont .title {
    font-weight: bold;
    font-size: 1em;
  }
  /* line 321, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .artList:hover .title {
    text-decoration: underline;
  }

  /* line 325, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .sub_flame, .scoreContainer, .sidebar, .help_flame {
    display: none;
  }

  /* line 329, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .Inputline {
    border: 1px solid #f0f0f0;
    border-radius: 5px;
    padding: 0 7px;
    margin: 0 10px 0 0;
  }
  /* line 334, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .Inputline .searchInput {
    background-color: transparent;
    border: none;
    padding: 0 0 0 7px;
    width: 200px;
    word-wrap: break-word;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    height: 34px;
    font-size: 0.8em;
  }

  /* line 346, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .iiHrap {
    padding: 20px 0px 20px 0;
    width: 100%;
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: 10px;
  }
  /* line 351, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .iiHrap .InputlineHome {
    border: 1px solid #f0f0f0;
    border-radius: 5px;
    padding: 0 7px;
    margin: 0 10px;
    width: calc(100% - 34px);
  }
  /* line 357, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .iiHrap .InputlineHome .searchInput {
    background-color: transparent;
    border: none;
    padding: 0 0 0 5px;
    width: 200px;
    word-wrap: break-word;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    height: 43px;
    font-size: 1em;
    width: calc(100% - 34px);
  }

  /* line 371, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .fa-search {
    color: #aaa;
  }
}
/* line 10, /Users/higuchitakumi/smapr/app/assets/stylesheets/article.scss */
html, body, div, span, applet, object, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
  color: #494949;
}

/* line 20, /Users/higuchitakumi/smapr/app/assets/stylesheets/article.scss */
html, body {
  background: #f8f8f8;
}

@media screen and (min-width: 1000px) {
  /* line 27, /Users/higuchitakumi/smapr/app/assets/stylesheets/article.scss */
  .thum {
    width: 100%;
    height: 388px;
    background: white;
    border-bottom: 1px solid #e0e0e0;
  }
  /* line 32, /Users/higuchitakumi/smapr/app/assets/stylesheets/article.scss */
  .thum img {
    display: block;
    width: 100%;
    height: 388px;
    object-fit: cover;
  }

  /* line 39, /Users/higuchitakumi/smapr/app/assets/stylesheets/article.scss */
  .btm_flame {
    background: white;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 10px;
  }
  /* line 44, /Users/higuchitakumi/smapr/app/assets/stylesheets/article.scss */
  .btm_flame .heds {
    color: #808080;
    margin-bottom: 10px;
  }
  /* line 48, /Users/higuchitakumi/smapr/app/assets/stylesheets/article.scss */
  .btm_flame .autcont {
    display: flex;
    align-items: flex-start;
    text-decoration: none;
  }
  /* line 52, /Users/higuchitakumi/smapr/app/assets/stylesheets/article.scss */
  .btm_flame .autcont .left {
    width: 65px;
    heoght: 65px;
  }
  /* line 55, /Users/higuchitakumi/smapr/app/assets/stylesheets/article.scss */
  .btm_flame .autcont .left img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #f0f0f0;
  }
  /* line 63, /Users/higuchitakumi/smapr/app/assets/stylesheets/article.scss */
  .btm_flame .autcont .right {
    width: calc(100% - 85px);
    margin-left: 20px;
  }
  /* line 66, /Users/higuchitakumi/smapr/app/assets/stylesheets/article.scss */
  .btm_flame .autcont .right:hover .aucn {
    text-decoration: underline;
  }
  /* line 69, /Users/higuchitakumi/smapr/app/assets/stylesheets/article.scss */
  .btm_flame .autcont .right .aucn {
    font-weight: bold;
  }

  /* line 75, /Users/higuchitakumi/smapr/app/assets/stylesheets/article.scss */
  .article_show {
    margin-right: 10px;
    width: 690px;
  }
}
/* line 80, /Users/higuchitakumi/smapr/app/assets/stylesheets/article.scss */
.articleBox {
  width: calc(100% - 40px);
  height: 100%;
  padding: 20px 20px 20px 20px;
  background: white;
}

/* line 86, /Users/higuchitakumi/smapr/app/assets/stylesheets/article.scss */
.inpPost-h1 {
  padding: 20px 20px 0 20px;
  background: white;
  font-weight: bold;
  font-size: 1.4em;
}

@media screen and (max-width: 1000px) {
  /* line 96, /Users/higuchitakumi/smapr/app/assets/stylesheets/article.scss */
  .thum {
    width: 100%;
    height: calc(100vw * 0.56);
    background: white;
    border-bottom: 1px solid #e0e0e0;
  }
  /* line 101, /Users/higuchitakumi/smapr/app/assets/stylesheets/article.scss */
  .thum img {
    display: block;
    width: 100%;
    height: calc(100vw * 0.56);
    object-fit: cover;
  }

  /* line 108, /Users/higuchitakumi/smapr/app/assets/stylesheets/article.scss */
  .btm_flame {
    background: white;
    border-radius: 10px;
    padding: 20px 10px;
    margin-bottom: 10px;
  }
  /* line 113, /Users/higuchitakumi/smapr/app/assets/stylesheets/article.scss */
  .btm_flame .heds {
    color: #808080;
    margin-bottom: 10px;
  }
  /* line 117, /Users/higuchitakumi/smapr/app/assets/stylesheets/article.scss */
  .btm_flame .autcont {
    display: flex;
    align-items: flex-start;
    text-decoration: none;
  }
  /* line 121, /Users/higuchitakumi/smapr/app/assets/stylesheets/article.scss */
  .btm_flame .autcont .left {
    width: 65px;
    heoght: 65px;
  }
  /* line 124, /Users/higuchitakumi/smapr/app/assets/stylesheets/article.scss */
  .btm_flame .autcont .left img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #f0f0f0;
  }
  /* line 132, /Users/higuchitakumi/smapr/app/assets/stylesheets/article.scss */
  .btm_flame .autcont .right {
    width: calc(100% - 85px);
    margin-left: 20px;
  }
  /* line 135, /Users/higuchitakumi/smapr/app/assets/stylesheets/article.scss */
  .btm_flame .autcont .right:hover .aucn {
    text-decoration: underline;
  }
  /* line 138, /Users/higuchitakumi/smapr/app/assets/stylesheets/article.scss */
  .btm_flame .autcont .right .aucn {
    font-weight: bold;
  }

  /* line 144, /Users/higuchitakumi/smapr/app/assets/stylesheets/article.scss */
  .articleBox {
    width: calc(100% - 20px);
    height: 100%;
    padding: 10px;
    background: white;
  }

  /* line 150, /Users/higuchitakumi/smapr/app/assets/stylesheets/article.scss */
  .inpPost-h1 {
    padding: 10px 10px 0 10px;
    background: white;
    font-weight: bold;
    font-size: 1.2em;
  }
}
/* line 158, /Users/higuchitakumi/smapr/app/assets/stylesheets/article.scss */
.fxse {
  width: 100%;
  display: flex;
  justify-content: center;
}
/* line 162, /Users/higuchitakumi/smapr/app/assets/stylesheets/article.scss */
.fxse .sdwe {
  width: 1000px;
  min-width: 1000px;
  margin: 10px 0 0 0;
}
/* line 166, /Users/higuchitakumi/smapr/app/assets/stylesheets/article.scss */
.fxse .sdwe .tcop {
  width: 100%;
  height: 169px;
  padding-bottom: 10px;
  display: flex;
}
/* line 171, /Users/higuchitakumi/smapr/app/assets/stylesheets/article.scss */
.fxse .sdwe .tcop .left {
  width: 300px;
  height: 169px;
}
/* line 174, /Users/higuchitakumi/smapr/app/assets/stylesheets/article.scss */
.fxse .sdwe .tcop .left img {
  display: block;
  width: 100%;
}
/* line 179, /Users/higuchitakumi/smapr/app/assets/stylesheets/article.scss */
.fxse .sdwe .tcop .right {
  width: 690px;
  margin-left: 10px;
}
/* line 182, /Users/higuchitakumi/smapr/app/assets/stylesheets/article.scss */
.fxse .sdwe .tcop .right input {
  width: calc(100% - 24px);
  font-size: 1.2em;
  padding: 5px 10px;
  border: 1px solid #e0e0e0;
}
/* line 188, /Users/higuchitakumi/smapr/app/assets/stylesheets/article.scss */
.fxse .sdwe .tcop .right textarea {
  width: calc(100% - 24px);
  font-size: 1em;
  padding: 5px 10px;
  height: calc( 1.3em * 3 );
  line-height: 1.3;
  border: 1px solid #e0e0e0;
}
/* line 196, /Users/higuchitakumi/smapr/app/assets/stylesheets/article.scss */
.fxse .sdwe .tcop .right div {
  display: flex;
}
/* line 201, /Users/higuchitakumi/smapr/app/assets/stylesheets/article.scss */
.fxse .sdwe .topic {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: start;
  background: #f8f8f8;
}
/* line 207, /Users/higuchitakumi/smapr/app/assets/stylesheets/article.scss */
.fxse .sdwe .topic .mauy {
  width: calc(1000px - 310px);
  margin-right: 10px;
}
/* line 211, /Users/higuchitakumi/smapr/app/assets/stylesheets/article.scss */
.fxse .sdwe .topic .mauy .main_flame {
  background: white;
  border-radius: 0 0 10px 10px;
  margin-bottom: 10px;
}
/* line 215, /Users/higuchitakumi/smapr/app/assets/stylesheets/article.scss */
.fxse .sdwe .topic .mauy .main_flame .tmai {
  width: calc(100% - 40px);
  padding: 0 20px;
}
/* line 218, /Users/higuchitakumi/smapr/app/assets/stylesheets/article.scss */
.fxse .sdwe .topic .mauy .main_flame .tmai img {
  width: 100%;
}

/* line 231, /Users/higuchitakumi/smapr/app/assets/stylesheets/article.scss */
.inpPost-auther_date_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30px;
  padding: 10px 20px;
  background: white;
  color: #808080;
  border-bottom: 1px solid #e0e0e0;
}
/* line 240, /Users/higuchitakumi/smapr/app/assets/stylesheets/article.scss */
.inpPost-auther_date_box div {
  display: flex;
  align-items: center;
}
/* line 243, /Users/higuchitakumi/smapr/app/assets/stylesheets/article.scss */
.inpPost-auther_date_box div a {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
/* line 248, /Users/higuchitakumi/smapr/app/assets/stylesheets/article.scss */
.inpPost-auther_date_box div a img {
  height: 100%;
  width: 30px;
  margin-right: 10px;
  border: 1px solid #f0f0f0;
  border-radius: 50%;
}

/* line 262, /Users/higuchitakumi/smapr/app/assets/stylesheets/article.scss */
.toc_box {
  width: calc(100% - 20px);
  padding: 10px 0 10px 20px;
  background: white;
  border-bottom: 1px solid #e0e0e0;
}
/* line 267, /Users/higuchitakumi/smapr/app/assets/stylesheets/article.scss */
.toc_box dl {
  width: 100%;
}
/* line 269, /Users/higuchitakumi/smapr/app/assets/stylesheets/article.scss */
.toc_box dl dt {
  position: relative;
  color: #808080;
}
/* line 274, /Users/higuchitakumi/smapr/app/assets/stylesheets/article.scss */
.toc_box dl dd a {
  text-decoration: none;
  line-height: 1.5em;
}
/* line 277, /Users/higuchitakumi/smapr/app/assets/stylesheets/article.scss */
.toc_box dl dd a:hover {
  text-decoration: underline;
}

/* line 284, /Users/higuchitakumi/smapr/app/assets/stylesheets/article.scss */
.lv_H2 a {
  padding-left: 10px;
  color: #494949;
}

/* line 285, /Users/higuchitakumi/smapr/app/assets/stylesheets/article.scss */
.lv_H3 a {
  padding-left: 30px;
  color: #494949;
}

/* line 286, /Users/higuchitakumi/smapr/app/assets/stylesheets/article.scss */
.attrb {
  margin: 20px 0;
}

/* line 293, /Users/higuchitakumi/smapr/app/assets/stylesheets/article.scss */
.fr-element {
  height: calc(100vh - 343px);
  overflow: auto;
}

/* line 297, /Users/higuchitakumi/smapr/app/assets/stylesheets/article.scss */
.linkBox {
  display: block;
  background: #00aced;
  border-radius: 5px;
  color: white;
  width: 110px;
  padding: 5px 20px 3px 20px;
  margin: 7px 5px 7px 0;
  text-decoration: none;
  text-align: center;
  font-size: 0.8em;
  cursor: pointer;
}

/* line 310, /Users/higuchitakumi/smapr/app/assets/stylesheets/article.scss */
a.ands {
  width: calc(100% - 40px);
}

/* line 314, /Users/higuchitakumi/smapr/app/assets/stylesheets/article.scss */
.catem, .tagm, .salem {
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

/* line 321, /Users/higuchitakumi/smapr/app/assets/stylesheets/article.scss */
.popup_wrap {
  height: 100vh;
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

/* line 328, /Users/higuchitakumi/smapr/app/assets/stylesheets/article.scss */
.whir {
  position: absolute;
  z-index: 11;
  top: 0;
  width: 500px;
  height: calc(100vh - 100px);
  background: white;
  margin: 50px auto;
  left: 0;
  right: 0;
  border-radius: 20px;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
/* line 342, /Users/higuchitakumi/smapr/app/assets/stylesheets/article.scss */
.whir::-webkit-scrollbar {
  display: none;
}
/* line 345, /Users/higuchitakumi/smapr/app/assets/stylesheets/article.scss */
.whir h2.mos {
  padding: 15px 20px;
  background: #f8f9fa;
  font-weight: 580;
  font-size: 1.4em;
  border-radius: 20px 20px 0 0;
}
/* line 352, /Users/higuchitakumi/smapr/app/assets/stylesheets/article.scss */
.whir .catesb {
  padding: 10px;
}
/* line 354, /Users/higuchitakumi/smapr/app/assets/stylesheets/article.scss */
.whir .catesb .fc {
  padding: 0 0 10px 0;
  margin-bottom: 10px;
  border-bottom: 1px solid #f0f0f0;
}
/* line 359, /Users/higuchitakumi/smapr/app/assets/stylesheets/article.scss */
.whir .catesb .oyacate {
  font-size: 1.2em;
}
/* line 362, /Users/higuchitakumi/smapr/app/assets/stylesheets/article.scss */
.whir .catesb .tagf {
  display: flex;
  width: 100%;
}
/* line 365, /Users/higuchitakumi/smapr/app/assets/stylesheets/article.scss */
.whir .catesb .tagf p {
  padding-right: 5px;
}
/* line 368, /Users/higuchitakumi/smapr/app/assets/stylesheets/article.scss */
.whir .catesb .tagf input {
  width: 100%;
}
/* line 373, /Users/higuchitakumi/smapr/app/assets/stylesheets/article.scss */
.whir .saleb {
  padding: 10px;
}
/* line 375, /Users/higuchitakumi/smapr/app/assets/stylesheets/article.scss */
.whir .saleb h3 {
  position: relative;
  font-weight: bold;
  font-size: 1em;
  color: #808080;
  padding: 2px 0 2px 35px;
  margin: 5px 0 10px 0;
}
/* line 382, /Users/higuchitakumi/smapr/app/assets/stylesheets/article.scss */
.whir .saleb h3:before {
  position: absolute;
  top: 50%;
  left: 10px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  content: '';
  background: #00aced;
  width: 0.8em;
  height: 0.8em;
}
/* line 394, /Users/higuchitakumi/smapr/app/assets/stylesheets/article.scss */
.whir .saleb .sche {
  padding-left: 35px;
  margin-bottom: 20px;
}
/* line 398, /Users/higuchitakumi/smapr/app/assets/stylesheets/article.scss */
.whir .saleb .ifpaid, .whir .saleb .ec, .whir .saleb .ifo, .whir .saleb .n3co, .whir .saleb .ifop, .whir .saleb .n4co {
  display: none;
}
/* line 401, /Users/higuchitakumi/smapr/app/assets/stylesheets/article.scss */
.whir .saleb .def {
  border: 1px solid #aaa;
  padding: 10px;
  margin: 0 35px;
}

/* line 409, /Users/higuchitakumi/smapr/app/assets/stylesheets/article.scss */
ul {
  list-style: none;
}
/* line 411, /Users/higuchitakumi/smapr/app/assets/stylesheets/article.scss */
ul .list_item {
  margin: 0 0 5px 10px;
  padding: 0;
}
/* line 414, /Users/higuchitakumi/smapr/app/assets/stylesheets/article.scss */
ul .list_item input {
  margin-right: 10px;
}

/* line 423, /Users/higuchitakumi/smapr/app/assets/stylesheets/article.scss */
#img_field {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 169px;
  background: white;
  cursor: pointer;
}
/* line 432, /Users/higuchitakumi/smapr/app/assets/stylesheets/article.scss */
#img_field img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* line 437, /Users/higuchitakumi/smapr/app/assets/stylesheets/article.scss */
#img_field div {
  text-align: center;
}
/* line 440, /Users/higuchitakumi/smapr/app/assets/stylesheets/article.scss */
#img_field p {
  font-size: 0.8em;
  color: #aaa;
}
/* line 444, /Users/higuchitakumi/smapr/app/assets/stylesheets/article.scss */
#img_field i {
  color: #aaa;
  font-size: 50px;
  margin-bottom: 10px;
}

/* line 450, /Users/higuchitakumi/smapr/app/assets/stylesheets/article.scss */
#img_field:hover img {
  transition: 0.5s ease-out;
  opacity: 0.7;
}

/* line 455, /Users/higuchitakumi/smapr/app/assets/stylesheets/article.scss */
#img_field:hover i, #img_field:hover p {
  transition: 0.5s ease-out;
  opacity: 0.9;
  transform: scale(0.9, 0.9);
}

/* line 462, /Users/higuchitakumi/smapr/app/assets/stylesheets/article.scss */
.box-nex {
  background: #f8f8f8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.19);
  padding: 15px;
  border-radius: 5px;
  text-align: center;
}
/* line 468, /Users/higuchitakumi/smapr/app/assets/stylesheets/article.scss */
.box-nex div {
  width: 100%;
  margin-bottom: 20px;
}
/* line 472, /Users/higuchitakumi/smapr/app/assets/stylesheets/article.scss */
.box-nex .nexh {
  font-size: 1.4em;
}
/* line 475, /Users/higuchitakumi/smapr/app/assets/stylesheets/article.scss */
.box-nex a {
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 25px;
  padding: 10px 20px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.7);
  margin: 10px 0 20px 0;
  color: #00aced;
}
/* line 483, /Users/higuchitakumi/smapr/app/assets/stylesheets/article.scss */
.box-nex a:hover {
  text-decoration: underline;
}

/* line 5, /Users/higuchitakumi/smapr/app/assets/stylesheets/article_management.scss */
.to_btn {
  border: 1px solid #00aced;
  padding: 5px 10px;
  color: #00aced;
  cursor: pointer;
  text-decoration: none;
}

/* line 12, /Users/higuchitakumi/smapr/app/assets/stylesheets/article_management.scss */
.to_btn_acti {
  background: #00aced;
  color: white;
}

/* line 16, /Users/higuchitakumi/smapr/app/assets/stylesheets/article_management.scss */
.lc_btn_acti {
  color: #00aced;
  border: 1px solid #00aced;
  padding: 5px 10px;
  border-radius: 500px;
  cursor: pointer;
  text-decoration: none;
}

/* line 24, /Users/higuchitakumi/smapr/app/assets/stylesheets/article_management.scss */
.index1 {
  display: flex;
  justify-content: space-between;
}

/* line 28, /Users/higuchitakumi/smapr/app/assets/stylesheets/article_management.scss */
.index2 {
  display: flex;
  padding: 20px 0;
  border-bottom: 1px solid #f0f0f0;
}

/* line 34, /Users/higuchitakumi/smapr/app/assets/stylesheets/article_management.scss */
#img_field {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 169px;
  background: white;
  cursor: pointer;
}
/* line 43, /Users/higuchitakumi/smapr/app/assets/stylesheets/article_management.scss */
#img_field img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* line 48, /Users/higuchitakumi/smapr/app/assets/stylesheets/article_management.scss */
#img_field div {
  text-align: center;
}
/* line 51, /Users/higuchitakumi/smapr/app/assets/stylesheets/article_management.scss */
#img_field p {
  font-size: 0.8em;
  color: #aaa;
}
/* line 55, /Users/higuchitakumi/smapr/app/assets/stylesheets/article_management.scss */
#img_field i {
  color: #aaa;
  font-size: 50px;
  margin-bottom: 10px;
}

/* line 61, /Users/higuchitakumi/smapr/app/assets/stylesheets/article_management.scss */
#img_field:hover img {
  transition: 0.5s ease-out;
  opacity: 0.7;
}

/* line 66, /Users/higuchitakumi/smapr/app/assets/stylesheets/article_management.scss */
#img_field:hover i, #img_field:hover p {
  transition: 0.5s ease-out;
  opacity: 0.9;
  transform: scale(0.9, 0.9);
}

/* line 71, /Users/higuchitakumi/smapr/app/assets/stylesheets/article_management.scss */
#editor {
  width: 100%;
  height: 600px;
}
