@charset "UTF-8";
/* line 1, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
  color: #494949;
}

/* line 11, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
html, body {
  background: #f8f8f8;
}

/* line 16, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
.main_flame {
  width: 100%;
  display: flex;
  justify-content: center;
}
/* line 20, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
.main_flame .main_inner {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 1000px;
  margin: 10px 0 0 0;
}
/* line 26, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
.main_flame .main_inner .main_container {
  width: 650px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 20px;
  background: white;
  border-radius: 10px;
}
/* line 34, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
.main_flame .main_inner .main_container_n {
  width: 690px;
  margin-right: 10px;
  padding: 20px 0;
  background: white;
  border-radius: 10px;
}
/* line 41, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
.main_flame .main_inner .main_container_a {
  width: 740px;
  height: calc(100vh - 70px);
  background: white;
}

/* line 49, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
.linkContainer {
  background: #00aced;
  border-radius: 500px;
  color: white;
  text-decoration: none;
  text-align: center;
}

/* line 57, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
.tnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 20px);
  margin: 0 0 5px 0;
  padding: 0 10px;
  border-bottom: 1px solid #f0f0f0;
}
/* line 65, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
.tnav nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  width: 80%;
  text-align: center;
}
/* line 72, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
.tnav nav li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  min-width: 70px;
}
/* line 79, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
.tnav nav a {
  display: block;
  width: 100%;
  text-decoration: none;
  color: #555;
  padding-bottom: 5px;
  font-size: 0.8em;
}
/* line 87, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
.tnav nav li.current {
  border-bottom: 3px solid #00aced;
}
/* line 90, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
.tnav nav li.des {
  border-bottom: 3px solid #ffffff;
}
/* line 93, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
.tnav nav li:hover {
  color: #E7DA66;
  border-bottom: 3px solid #00aced;
}
/* line 97, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
.tnav nav li a {
  cursor: pointer;
}

/* line 7, /Users/higuchitakumi/smapr/app/assets/stylesheets/fixed_page.scss */
.helpContainer {
  height: 100%;
}
/* line 9, /Users/higuchitakumi/smapr/app/assets/stylesheets/fixed_page.scss */
.helpContainer h1 {
  width: calc(100% - 40px);
  padding: 10px 20px;
  font-size: 1.3em;
}
/* line 14, /Users/higuchitakumi/smapr/app/assets/stylesheets/fixed_page.scss */
.helpContainer .helprap {
  height: 100%;
  overflow: auto;
}
/* line 17, /Users/higuchitakumi/smapr/app/assets/stylesheets/fixed_page.scss */
.helpContainer .helprap .helpInner {
  padding: 0 20px 50px 20px;
}
/* line 19, /Users/higuchitakumi/smapr/app/assets/stylesheets/fixed_page.scss */
.helpContainer .helprap .helpInner h2 {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 15px;
}
/* line 24, /Users/higuchitakumi/smapr/app/assets/stylesheets/fixed_page.scss */
.helpContainer .helprap .helpInner h3 {
  font-weight: bold;
  margin-bottom: 5px;
}
/* line 28, /Users/higuchitakumi/smapr/app/assets/stylesheets/fixed_page.scss */
.helpContainer .helprap .helpInner p {
  margin-bottom: 25px;
}
