@media screen and (min-width: 1000px) {
  /* line 8, /Users/higuchitakumi/smapr/app/assets/stylesheets/header.scss */
  .main_header {
    width: 1000px;
    min-width: 1000px;
    background: white;
    padding: 2px calc(calc(100% - 1000px)/2);
    margin: 0;
  }
  /* line 14, /Users/higuchitakumi/smapr/app/assets/stylesheets/header.scss */
  .main_header .topwer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
  }
  /* line 20, /Users/higuchitakumi/smapr/app/assets/stylesheets/header.scss */
  .main_header .topwer .top_icon {
    height: 40px;
    padding: 5px 0;
  }
  /* line 23, /Users/higuchitakumi/smapr/app/assets/stylesheets/header.scss */
  .main_header .topwer .top_icon h1 {
    height: 100%;
  }
  /* line 25, /Users/higuchitakumi/smapr/app/assets/stylesheets/header.scss */
  .main_header .topwer .top_icon h1 img {
    height: 100%;
    margin: 5px 0;
  }
  /* line 30, /Users/higuchitakumi/smapr/app/assets/stylesheets/header.scss */
  .main_header .topwer .top_icon img {
    height: 100%;
  }
  /* line 34, /Users/higuchitakumi/smapr/app/assets/stylesheets/header.scss */
  .main_header .topwer div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* line 39, /Users/higuchitakumi/smapr/app/assets/stylesheets/header.scss */
  .main_header .topwer div .userimg {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  /* line 43, /Users/higuchitakumi/smapr/app/assets/stylesheets/header.scss */
  .main_header .topwer div .userimg img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #f0f0f0;
  }
  /* line 52, /Users/higuchitakumi/smapr/app/assets/stylesheets/header.scss */
  .main_header .topwer div .linkc {
    display: block;
    background: #00aced;
    border-radius: 5px;
    color: white;
    padding: 5px 20px 3px 20px;
    margin: 0 5px;
    text-decoration: none;
    text-align: center;
  }
  /* line 62, /Users/higuchitakumi/smapr/app/assets/stylesheets/header.scss */
  .main_header .topwer div input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    width: 100%;
    text-align: center;
    text-transform: inherit;
    text-overflow: ellipsis;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: block;
    background: white;
    border: 1px solid #00aced;
    border-radius: 5000px;
    color: #00aced;
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
    margin: 0 10px 0 0;
    font-size: 1em;
  }
  /* line 92, /Users/higuchitakumi/smapr/app/assets/stylesheets/header.scss */
  .main_header .tnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 15px 0;
    border-bottom: 1px solid #f0f0f0;
  }
  /* line 99, /Users/higuchitakumi/smapr/app/assets/stylesheets/header.scss */
  .main_header .tnav nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    width: 80%;
    text-align: center;
  }
  /* line 106, /Users/higuchitakumi/smapr/app/assets/stylesheets/header.scss */
  .main_header .tnav nav li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    min-width: 70px;
  }
  /* line 113, /Users/higuchitakumi/smapr/app/assets/stylesheets/header.scss */
  .main_header .tnav nav a {
    display: block;
    width: 100%;
    text-decoration: none;
    color: #555;
    padding-bottom: 5px;
    font-size: 0.8em;
  }
  /* line 121, /Users/higuchitakumi/smapr/app/assets/stylesheets/header.scss */
  .main_header .tnav nav li.current {
    border-bottom: 3px solid #00aced;
  }
  /* line 124, /Users/higuchitakumi/smapr/app/assets/stylesheets/header.scss */
  .main_header .tnav nav li.des {
    border-bottom: 3px solid #ffffff;
  }
  /* line 127, /Users/higuchitakumi/smapr/app/assets/stylesheets/header.scss */
  .main_header .tnav nav li:hover {
    color: #E7DA66;
    border-bottom: 3px solid #00aced;
  }
  /* line 131, /Users/higuchitakumi/smapr/app/assets/stylesheets/header.scss */
  .main_header .tnav nav li a {
    cursor: pointer;
  }
}
@media screen and (max-width: 1000px) {
  /* line 138, /Users/higuchitakumi/smapr/app/assets/stylesheets/header.scss */
  .main_header {
    width: calc(100% - 10px);
    padding-left: 10px;
    background: white;
  }
  /* line 142, /Users/higuchitakumi/smapr/app/assets/stylesheets/header.scss */
  .main_header .topwer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
  }
  /* line 148, /Users/higuchitakumi/smapr/app/assets/stylesheets/header.scss */
  .main_header .topwer .top_icon {
    height: 40px;
    padding: 5px 0;
  }
  /* line 151, /Users/higuchitakumi/smapr/app/assets/stylesheets/header.scss */
  .main_header .topwer .top_icon h1 {
    height: 100%;
  }
  /* line 153, /Users/higuchitakumi/smapr/app/assets/stylesheets/header.scss */
  .main_header .topwer .top_icon h1 img {
    height: 100%;
    margin: 5px 0;
  }
  /* line 158, /Users/higuchitakumi/smapr/app/assets/stylesheets/header.scss */
  .main_header .topwer .top_icon img {
    height: 100%;
  }
  /* line 162, /Users/higuchitakumi/smapr/app/assets/stylesheets/header.scss */
  .main_header .topwer div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* line 167, /Users/higuchitakumi/smapr/app/assets/stylesheets/header.scss */
  .main_header .topwer div .userimg {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  /* line 171, /Users/higuchitakumi/smapr/app/assets/stylesheets/header.scss */
  .main_header .topwer div .userimg img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #f0f0f0;
  }
  /* line 180, /Users/higuchitakumi/smapr/app/assets/stylesheets/header.scss */
  .main_header .topwer div .linkc {
    display: block;
    background: #00aced;
    border-radius: 5px;
    color: white;
    padding: 5px 20px 3px 20px;
    margin: 0 5px;
    text-decoration: none;
    text-align: center;
  }
  /* line 190, /Users/higuchitakumi/smapr/app/assets/stylesheets/header.scss */
  .main_header .topwer div input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    width: 100%;
    text-align: center;
    text-transform: inherit;
    text-overflow: ellipsis;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: block;
    background: white;
    border: 1px solid #00aced;
    border-radius: 5000px;
    color: #00aced;
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
    margin: 0 10px 0 0;
    font-size: 1em;
  }
}
