@media screen and (min-width: 1000px) {
  /* line 8, /Users/higuchitakumi/smapr/app/assets/stylesheets/header.scss */
  .main_header {
    width: 1000px;
    min-width: 1000px;
    background: white;
    padding: 2px calc(calc(100% - 1000px)/2);
    margin: 0;
  }
  /* line 14, /Users/higuchitakumi/smapr/app/assets/stylesheets/header.scss */
  .main_header .topwer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
  }
  /* line 20, /Users/higuchitakumi/smapr/app/assets/stylesheets/header.scss */
  .main_header .topwer .top_icon {
    height: 40px;
    padding: 5px 0;
  }
  /* line 23, /Users/higuchitakumi/smapr/app/assets/stylesheets/header.scss */
  .main_header .topwer .top_icon h1 {
    height: 100%;
  }
  /* line 25, /Users/higuchitakumi/smapr/app/assets/stylesheets/header.scss */
  .main_header .topwer .top_icon h1 img {
    height: 100%;
    margin: 5px 0;
  }
  /* line 30, /Users/higuchitakumi/smapr/app/assets/stylesheets/header.scss */
  .main_header .topwer .top_icon img {
    height: 100%;
  }
  /* line 34, /Users/higuchitakumi/smapr/app/assets/stylesheets/header.scss */
  .main_header .topwer div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* line 39, /Users/higuchitakumi/smapr/app/assets/stylesheets/header.scss */
  .main_header .topwer div .userimg {
    width: 36px;
    height: 36px;
    margin-right: 15px;
  }
  /* line 43, /Users/higuchitakumi/smapr/app/assets/stylesheets/header.scss */
  .main_header .topwer div .userimg img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #f0f0f0;
  }
  /* line 52, /Users/higuchitakumi/smapr/app/assets/stylesheets/header.scss */
  .main_header .topwer div .linkc {
    display: block;
    background: #00aced;
    border-radius: 5px;
    color: white;
    padding: 5px 20px 3px 20px;
    margin: 0 5px;
    text-decoration: none;
    text-align: center;
  }
  /* line 62, /Users/higuchitakumi/smapr/app/assets/stylesheets/header.scss */
  .main_header .topwer div .searchInput {
    background-color: transparent;
    border: none;
    padding: 0 0 0 10px;
    word-wrap: break-word;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    height: 34px;
    font-size: 1em;
  }
  /* line 72, /Users/higuchitakumi/smapr/app/assets/stylesheets/header.scss */
  .main_header .topwer div .Inputline {
    border: 1px solid #f0f0f0;
    border-radius: 5px;
    padding: 0 10px;
    margin: 0 15px 0 0;
  }
  /* line 78, /Users/higuchitakumi/smapr/app/assets/stylesheets/header.scss */
  .main_header .topwer div .fa-search {
    color: #aaa;
  }
  /* line 83, /Users/higuchitakumi/smapr/app/assets/stylesheets/header.scss */
  .main_header .tnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 15px 0;
    border-bottom: 1px solid #f0f0f0;
  }
  /* line 90, /Users/higuchitakumi/smapr/app/assets/stylesheets/header.scss */
  .main_header .tnav nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    width: 80%;
    text-align: center;
  }
  /* line 97, /Users/higuchitakumi/smapr/app/assets/stylesheets/header.scss */
  .main_header .tnav nav li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    min-width: 70px;
  }
  /* line 104, /Users/higuchitakumi/smapr/app/assets/stylesheets/header.scss */
  .main_header .tnav nav a {
    display: block;
    width: 100%;
    text-decoration: none;
    color: #555;
    padding-bottom: 5px;
    font-size: 0.8em;
  }
  /* line 112, /Users/higuchitakumi/smapr/app/assets/stylesheets/header.scss */
  .main_header .tnav nav li.current {
    border-bottom: 3px solid #00aced;
  }
  /* line 115, /Users/higuchitakumi/smapr/app/assets/stylesheets/header.scss */
  .main_header .tnav nav li.des {
    border-bottom: 3px solid #ffffff;
  }
  /* line 118, /Users/higuchitakumi/smapr/app/assets/stylesheets/header.scss */
  .main_header .tnav nav li:hover {
    color: #E7DA66;
    border-bottom: 3px solid #00aced;
  }
  /* line 122, /Users/higuchitakumi/smapr/app/assets/stylesheets/header.scss */
  .main_header .tnav nav li a {
    cursor: pointer;
  }
}
@media screen and (max-width: 1000px) {
  /* line 129, /Users/higuchitakumi/smapr/app/assets/stylesheets/header.scss */
  .main_header {
    width: 100%;
    background: white;
    border-bottom: 1px solid #f0f0f0;
  }
  /* line 133, /Users/higuchitakumi/smapr/app/assets/stylesheets/header.scss */
  .main_header .topwer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
  }
  /* line 139, /Users/higuchitakumi/smapr/app/assets/stylesheets/header.scss */
  .main_header .topwer .top_icon {
    height: 40px;
    padding: 5px 0 5px 10px;
  }
  /* line 142, /Users/higuchitakumi/smapr/app/assets/stylesheets/header.scss */
  .main_header .topwer .top_icon h1 {
    height: 100%;
  }
  /* line 144, /Users/higuchitakumi/smapr/app/assets/stylesheets/header.scss */
  .main_header .topwer .top_icon h1 img {
    height: 100%;
    margin: 5px 0;
  }
  /* line 149, /Users/higuchitakumi/smapr/app/assets/stylesheets/header.scss */
  .main_header .topwer .top_icon img {
    height: 100%;
  }
  /* line 153, /Users/higuchitakumi/smapr/app/assets/stylesheets/header.scss */
  .main_header .topwer div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* line 158, /Users/higuchitakumi/smapr/app/assets/stylesheets/header.scss */
  .main_header .topwer div .userimg {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  /* line 162, /Users/higuchitakumi/smapr/app/assets/stylesheets/header.scss */
  .main_header .topwer div .userimg img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #f0f0f0;
  }
  /* line 171, /Users/higuchitakumi/smapr/app/assets/stylesheets/header.scss */
  .main_header .topwer div .linkc {
    display: block;
    background: #00aced;
    border-radius: 5px;
    color: white;
    padding: 5px 20px 3px 20px;
    margin: 0 5px;
    text-decoration: none;
    text-align: center;
  }
  /* line 181, /Users/higuchitakumi/smapr/app/assets/stylesheets/header.scss */
  .main_header .topwer div .searchInput {
    background-color: transparent;
    border: none;
    padding: 0 0 0 10px;
    word-wrap: break-word;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    height: 34px;
    font-size: 0.8em;
  }
  /* line 191, /Users/higuchitakumi/smapr/app/assets/stylesheets/header.scss */
  .main_header .topwer div .Inputline {
    border: 1px solid #f0f0f0;
    border-radius: 5px;
    padding: 0 7px;
    margin: 0 15px 0 0;
  }
  /* line 197, /Users/higuchitakumi/smapr/app/assets/stylesheets/header.scss */
  .main_header .topwer div .fa-search {
    color: #aaa;
  }
}
