@charset "UTF-8";
/* line 3, /Users/higuchitakumi/smapr/app/assets/stylesheets/overwhite.scss */
.debt input {
  padding: 10px 20px !important;
}

/* line 7, /Users/higuchitakumi/smapr/app/assets/stylesheets/overwhite.scss */
.popup_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
/* line 17, /Users/higuchitakumi/smapr/app/assets/stylesheets/overwhite.scss */
.popup_wrap .whir {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60vw;
  min-width: 600px;
  max-width: 1000px;
  height: 80vh;
  min-height: 500px;
  max-height: 700px;
  background: white;
  border-radius: 20px;
}
/* line 29, /Users/higuchitakumi/smapr/app/assets/stylesheets/overwhite.scss */
.popup_wrap .whir .nnarf {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60vw;
  min-width: 600px;
  max-width: 1000px;
  height: 80vh;
  min-height: 500px;
  max-height: 700px;
  position: relative;
}
/* line 40, /Users/higuchitakumi/smapr/app/assets/stylesheets/overwhite.scss */
.popup_wrap .whir .nnarf .abssec {
  position: absolute;
  top: 20%;
}
/* line 43, /Users/higuchitakumi/smapr/app/assets/stylesheets/overwhite.scss */
.popup_wrap .whir .nnarf .abssec .sect {
  width: 100%;
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 20px;
}
/* line 49, /Users/higuchitakumi/smapr/app/assets/stylesheets/overwhite.scss */
.popup_wrap .whir .nnarf .abssec .subsect {
  width: 100%;
  text-align: center;
  font-size: 1.2em;
}
/* line 55, /Users/higuchitakumi/smapr/app/assets/stylesheets/overwhite.scss */
.popup_wrap .whir .nnarf .secb {
  width: 50%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 62, /Users/higuchitakumi/smapr/app/assets/stylesheets/overwhite.scss */
.popup_wrap .whir .nnarf .secb .ias {
  width: calc(100% - 20px);
  font-size: 1.2em;
  padding: 5px 10px;
}
/* line 68, /Users/higuchitakumi/smapr/app/assets/stylesheets/overwhite.scss */
.popup_wrap .whir .nnarf .secb .sect {
  width: 100%;
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 20px;
}
/* line 74, /Users/higuchitakumi/smapr/app/assets/stylesheets/overwhite.scss */
.popup_wrap .whir .nnarf .secb .subsect {
  width: 100%;
  text-align: center;
  font-size: 1.2em;
}
/* line 80, /Users/higuchitakumi/smapr/app/assets/stylesheets/overwhite.scss */
.popup_wrap .whir .nnarf .nexta {
  position: absolute;
  bottom: 5%;
  right: 5%;
  cursor: pointer;
}
/* line 86, /Users/higuchitakumi/smapr/app/assets/stylesheets/overwhite.scss */
.popup_wrap .whir .nnarf .prea {
  position: absolute;
  bottom: 5%;
  left: 5%;
  cursor: pointer;
}

/* line 1, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchPopup.scss */
._wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
/* line 11, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchPopup.scss */
._wrap .wrap_inner {
  display: flex;
  justify-content: center;
  padding: 20px;
  backgronud: white;
}

/* line 7, /Users/higuchitakumi/smapr/app/assets/stylesheets/nuser.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
  color: #494949;
}

/* line 17, /Users/higuchitakumi/smapr/app/assets/stylesheets/nuser.scss */
html, body {
  background: #f8f8f8;
}

/* line 20, /Users/higuchitakumi/smapr/app/assets/stylesheets/nuser.scss */
.tofx {
  width: 100%;
}
/* line 22, /Users/higuchitakumi/smapr/app/assets/stylesheets/nuser.scss */
.tofx .timghe {
  width: 100%;
}
/* line 24, /Users/higuchitakumi/smapr/app/assets/stylesheets/nuser.scss */
.tofx .timghe img {
  display: block;
  width: 100%;
}
/* line 29, /Users/higuchitakumi/smapr/app/assets/stylesheets/nuser.scss */
.tofx .wdet {
  display: flex;
  justify-content: center;
  background: white;
}
/* line 33, /Users/higuchitakumi/smapr/app/assets/stylesheets/nuser.scss */
.tofx .wdet .erf {
  width: 1000px;
  padding: 20px 0;
}
/* line 36, /Users/higuchitakumi/smapr/app/assets/stylesheets/nuser.scss */
.tofx .wdet .erf .inhgf {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
/* line 41, /Users/higuchitakumi/smapr/app/assets/stylesheets/nuser.scss */
.tofx .wdet .erf .inhgf .icesob {
  display: flex;
  align-items: center;
  width: calc(100% - 180px);
  padding-right: 20px;
}
/* line 46, /Users/higuchitakumi/smapr/app/assets/stylesheets/nuser.scss */
.tofx .wdet .erf .inhgf .icesob .userimg {
  width: 84px;
  height: 84px;
}
/* line 49, /Users/higuchitakumi/smapr/app/assets/stylesheets/nuser.scss */
.tofx .wdet .erf .inhgf .icesob .userimg img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
/* line 56, /Users/higuchitakumi/smapr/app/assets/stylesheets/nuser.scss */
.tofx .wdet .erf .inhgf .icesob .weweq {
  width: calc(100% - 114px);
  padding-left: 30px;
  margin-bottom: 5px;
}
/* line 60, /Users/higuchitakumi/smapr/app/assets/stylesheets/nuser.scss */
.tofx .wdet .erf .inhgf .icesob .weweq h1 {
  font-size: 1.6em;
  font-weight: bold;
}
/* line 66, /Users/higuchitakumi/smapr/app/assets/stylesheets/nuser.scss */
.tofx .wdet .erf .inhgf .ands {
  width: 160px;
}
/* line 68, /Users/higuchitakumi/smapr/app/assets/stylesheets/nuser.scss */
.tofx .wdet .erf .inhgf .ands a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  height: 2em;
  cursor: pointer;
}
/* line 76, /Users/higuchitakumi/smapr/app/assets/stylesheets/nuser.scss */
.tofx .wdet .erf .inhgf .ands input#follow {
  display: none;
}
/* line 81, /Users/higuchitakumi/smapr/app/assets/stylesheets/nuser.scss */
.tofx .wdet .erf .qwed {
  width: calc(100% - 114px);
  padding-left: 114px;
}
/* line 87, /Users/higuchitakumi/smapr/app/assets/stylesheets/nuser.scss */
.tofx .fxse {
  width: 100%;
  display: flex;
  justify-content: center;
}
/* line 91, /Users/higuchitakumi/smapr/app/assets/stylesheets/nuser.scss */
.tofx .fxse .sdwe {
  width: 1000px;
  min-width: 1000px;
  margin: 10px 0 0 0;
}
/* line 95, /Users/higuchitakumi/smapr/app/assets/stylesheets/nuser.scss */
.tofx .fxse .sdwe .topic {
  margin-bottom: 10px;
  background: red;
  display: flex;
  justify-content: center;
  align-items: start;
  background: #f8f8f8;
}
/* line 102, /Users/higuchitakumi/smapr/app/assets/stylesheets/nuser.scss */
.tofx .fxse .sdwe .topic .main_flame {
  width: calc(1000px - 310px);
  margin-right: 10px;
  background: white;
  padding: 20px 0;
  border-radius: 10px;
}
/* line 108, /Users/higuchitakumi/smapr/app/assets/stylesheets/nuser.scss */
.tofx .fxse .sdwe .topic .main_flame .tmai {
  width: calc(100% - 40px);
  padding: 0 20px;
}
/* line 111, /Users/higuchitakumi/smapr/app/assets/stylesheets/nuser.scss */
.tofx .fxse .sdwe .topic .main_flame .tmai h2 {
  margin: 20px 0 10px 0;
  font-weight: bold;
  font-size: 1.1em;
}
/* line 116, /Users/higuchitakumi/smapr/app/assets/stylesheets/nuser.scss */
.tofx .fxse .sdwe .topic .main_flame .tmai img {
  width: 100%;
}
/* line 119, /Users/higuchitakumi/smapr/app/assets/stylesheets/nuser.scss */
.tofx .fxse .sdwe .topic .main_flame .tmai .artb1 {
  width: 100%;
  display: flex;
  text-decoration: none;
  padding: 5px 0 10px 0;
}
/* line 124, /Users/higuchitakumi/smapr/app/assets/stylesheets/nuser.scss */
.tofx .fxse .sdwe .topic .main_flame .tmai .artb1:hover {
  text-decoration: underline;
  text-decoration-color: #aaa;
}
/* line 128, /Users/higuchitakumi/smapr/app/assets/stylesheets/nuser.scss */
.tofx .fxse .sdwe .topic .main_flame .tmai .artb1 .left {
  width: calc(30% - 10px);
  padding-right: 10px;
}
/* line 131, /Users/higuchitakumi/smapr/app/assets/stylesheets/nuser.scss */
.tofx .fxse .sdwe .topic .main_flame .tmai .artb1 .left img {
  width: 100%;
}
/* line 135, /Users/higuchitakumi/smapr/app/assets/stylesheets/nuser.scss */
.tofx .fxse .sdwe .topic .main_flame .tmai .artb1 .right {
  width: 70%;
}
/* line 137, /Users/higuchitakumi/smapr/app/assets/stylesheets/nuser.scss */
.tofx .fxse .sdwe .topic .main_flame .tmai .artb1 .right .toptitle {
  font-weight: bold;
  font-size: 1.1em;
}
/* line 141, /Users/higuchitakumi/smapr/app/assets/stylesheets/nuser.scss */
.tofx .fxse .sdwe .topic .main_flame .tmai .artb1 .right .dest {
  color: #aaa;
  font-size: 0.9em;
}

/* line 154, /Users/higuchitakumi/smapr/app/assets/stylesheets/nuser.scss */
.linkBox {
  display: block;
  background: #00aced;
  border-radius: 250px;
  color: white;
  padding: 5px 10px 3px 10px;
  text-decoration: none;
  text-align: center;
}

/* line 163, /Users/higuchitakumi/smapr/app/assets/stylesheets/nuser.scss */
a.dc {
  margin-right: 20px;
}

/* line 167, /Users/higuchitakumi/smapr/app/assets/stylesheets/nuser.scss */
.tnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 20px);
  margin: 0 0 15px 0;
  padding: 0 10px;
  border-bottom: 1px solid #f0f0f0;
}
/* line 175, /Users/higuchitakumi/smapr/app/assets/stylesheets/nuser.scss */
.tnav nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  width: 80%;
  text-align: center;
}
/* line 182, /Users/higuchitakumi/smapr/app/assets/stylesheets/nuser.scss */
.tnav nav li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  min-width: 70px;
}
/* line 189, /Users/higuchitakumi/smapr/app/assets/stylesheets/nuser.scss */
.tnav nav a {
  display: block;
  width: 100%;
  text-decoration: none;
  color: #555;
  padding-bottom: 5px;
  font-size: 0.8em;
}
/* line 197, /Users/higuchitakumi/smapr/app/assets/stylesheets/nuser.scss */
.tnav nav li.current {
  border-bottom: 3px solid #00aced;
}
/* line 200, /Users/higuchitakumi/smapr/app/assets/stylesheets/nuser.scss */
.tnav nav li.des {
  border-bottom: 3px solid #ffffff;
}
/* line 203, /Users/higuchitakumi/smapr/app/assets/stylesheets/nuser.scss */
.tnav nav li:hover {
  color: #E7DA66;
  border-bottom: 3px solid #00aced;
}
/* line 207, /Users/higuchitakumi/smapr/app/assets/stylesheets/nuser.scss */
.tnav nav li a {
  cursor: pointer;
}

/* line 211, /Users/higuchitakumi/smapr/app/assets/stylesheets/nuser.scss */
nav.pagination {
  display: none;
}
