@charset "UTF-8";
/* line 3, /Users/higuchitakumi/smapr/app/assets/stylesheets/overwhite.scss */
.debt input {
  padding: 10px 20px !important;
}

/* line 7, /Users/higuchitakumi/smapr/app/assets/stylesheets/overwhite.scss */
.popup_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
/* line 17, /Users/higuchitakumi/smapr/app/assets/stylesheets/overwhite.scss */
.popup_wrap .whir {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60vw;
  min-width: 600px;
  max-width: 1000px;
  height: 80vh;
  min-height: 500px;
  max-height: 700px;
  background: white;
  border-radius: 20px;
}
/* line 29, /Users/higuchitakumi/smapr/app/assets/stylesheets/overwhite.scss */
.popup_wrap .whir .nnarf {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60vw;
  min-width: 600px;
  max-width: 1000px;
  height: 80vh;
  min-height: 500px;
  max-height: 700px;
  position: relative;
}
/* line 40, /Users/higuchitakumi/smapr/app/assets/stylesheets/overwhite.scss */
.popup_wrap .whir .nnarf .abssec {
  position: absolute;
  top: 20%;
}
/* line 43, /Users/higuchitakumi/smapr/app/assets/stylesheets/overwhite.scss */
.popup_wrap .whir .nnarf .abssec .sect {
  width: 100%;
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 20px;
}
/* line 49, /Users/higuchitakumi/smapr/app/assets/stylesheets/overwhite.scss */
.popup_wrap .whir .nnarf .abssec .subsect {
  width: 100%;
  text-align: center;
  font-size: 1.2em;
}
/* line 55, /Users/higuchitakumi/smapr/app/assets/stylesheets/overwhite.scss */
.popup_wrap .whir .nnarf .secb {
  width: 50%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 62, /Users/higuchitakumi/smapr/app/assets/stylesheets/overwhite.scss */
.popup_wrap .whir .nnarf .secb .ias {
  width: calc(100% - 20px);
  font-size: 1.2em;
  padding: 5px 10px;
}
/* line 68, /Users/higuchitakumi/smapr/app/assets/stylesheets/overwhite.scss */
.popup_wrap .whir .nnarf .secb .sect {
  width: 100%;
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 20px;
}
/* line 74, /Users/higuchitakumi/smapr/app/assets/stylesheets/overwhite.scss */
.popup_wrap .whir .nnarf .secb .subsect {
  width: 100%;
  text-align: center;
  font-size: 1.2em;
}
/* line 80, /Users/higuchitakumi/smapr/app/assets/stylesheets/overwhite.scss */
.popup_wrap .whir .nnarf .nexta {
  position: absolute;
  bottom: 5%;
  right: 5%;
  cursor: pointer;
}
/* line 86, /Users/higuchitakumi/smapr/app/assets/stylesheets/overwhite.scss */
.popup_wrap .whir .nnarf .prea {
  position: absolute;
  bottom: 5%;
  left: 5%;
  cursor: pointer;
}

/* line 2, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchPopup.scss */
._wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

/* line 13, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchPopup.scss */
.wrap_inner {
  width: 600px;
  height: 80vh;
  padding-bottom: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: white;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
/* line 27, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchPopup.scss */
.wrap_inner::-webkit-scrollbar {
  display: none;
}
/* line 30, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchPopup.scss */
.wrap_inner .wrap_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  margin: 0 10px 0 20px;
}
/* line 36, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchPopup.scss */
.wrap_inner .wrap_header p {
  font-size: 1.2em;
  font-weight: bold;
}
/* line 42, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchPopup.scss */
.wrap_inner .wrap_main #img_field {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  background: white;
  cursor: pointer;
  border-bottom: 1px solid #f0f0f0;
}
/* line 51, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchPopup.scss */
.wrap_inner .wrap_main #img_field img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* line 56, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchPopup.scss */
.wrap_inner .wrap_main #img_field div {
  text-align: center;
}
/* line 59, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchPopup.scss */
.wrap_inner .wrap_main #img_field p {
  font-size: 0.8em;
  color: #aaa;
}
/* line 63, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchPopup.scss */
.wrap_inner .wrap_main #img_field i {
  color: #aaa;
  font-size: 50px;
  margin-bottom: 10px;
}
/* line 69, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchPopup.scss */
.wrap_inner .wrap_main #img_field:hover img {
  transition: 0.5s ease-out;
  opacity: 0.7;
}
/* line 74, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchPopup.scss */
.wrap_inner .wrap_main #img_field:hover i, .wrap_inner .wrap_main #img_field:hover p {
  transition: 0.5s ease-out;
  opacity: 0.9;
  transform: scale(0.9, 0.9);
}
/* line 80, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchPopup.scss */
.wrap_inner .userMainContainer {
  position: absolute;
  width: 84px;
  top: 103px;
  left: -10px;
  right: 0;
  margin: 0 auto;
}
/* line 87, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchPopup.scss */
.wrap_inner .userMainContainer #img_field1 {
  width: 84px;
  height: 84px;
  border: 5px solid white;
  border-radius: 50%;
  cursor: pointer;
  background: white;
}
/* line 94, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchPopup.scss */
.wrap_inner .userMainContainer #img_field1 img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #f0f0f0;
}
/* line 102, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchPopup.scss */
.wrap_inner .userMainContainer #img_field1:hover img {
  transition: 0.5s ease-out;
  opacity: 0.7;
}
/* line 107, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchPopup.scss */
.wrap_inner .userMainContainer #img_field1:hover i, .wrap_inner .userMainContainer #img_field:hover p {
  transition: 0.5s ease-out;
  opacity: 0.9;
  transform: scale(0.9, 0.9);
}
/* line 114, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchPopup.scss */
.wrap_inner .userPrf {
  width: calc(100% - 20px);
  padding: 0 10px;
  margin: 60px 0 0 0;
}
/* line 118, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchPopup.scss */
.wrap_inner .userPrf .nic {
  width: calc(100% - 10px);
  font-size: 1.2em;
  padding: 0 5px;
}
/* line 124, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchPopup.scss */
.wrap_inner .userPrf .bio p, .wrap_inner .userPrf .location p, .wrap_inner .userPrf .website p {
  margin: 10px 0 0 0;
}
/* line 127, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchPopup.scss */
.wrap_inner .userPrf .bio textarea, .wrap_inner .userPrf .location textarea, .wrap_inner .userPrf .website textarea {
  height: 150px;
  width: calc(100% - 10px);
  font-size: 1.2em;
  padding: 5px;
}
/* line 133, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchPopup.scss */
.wrap_inner .userPrf .bio input, .wrap_inner .userPrf .location input, .wrap_inner .userPrf .website input {
  width: calc(100% - 10px);
  font-size: 1.2em;
  padding: 0 5px;
}

/* line 7, /Users/higuchitakumi/smapr/app/assets/stylesheets/nuser.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
  color: #494949;
}

/* line 17, /Users/higuchitakumi/smapr/app/assets/stylesheets/nuser.scss */
html, body {
  background: #f8f8f8;
}

/* line 20, /Users/higuchitakumi/smapr/app/assets/stylesheets/nuser.scss */
.tofx {
  width: 100%;
}
/* line 22, /Users/higuchitakumi/smapr/app/assets/stylesheets/nuser.scss */
.tofx .timghe {
  width: 100%;
  height: calc(100vw * 0.1657);
}
/* line 25, /Users/higuchitakumi/smapr/app/assets/stylesheets/nuser.scss */
.tofx .timghe img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* line 31, /Users/higuchitakumi/smapr/app/assets/stylesheets/nuser.scss */
.tofx .wdet {
  display: flex;
  justify-content: center;
  background: white;
}
/* line 35, /Users/higuchitakumi/smapr/app/assets/stylesheets/nuser.scss */
.tofx .wdet .erf {
  width: 1000px;
  padding: 20px 0;
}
/* line 38, /Users/higuchitakumi/smapr/app/assets/stylesheets/nuser.scss */
.tofx .wdet .erf .inhgf {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
/* line 43, /Users/higuchitakumi/smapr/app/assets/stylesheets/nuser.scss */
.tofx .wdet .erf .inhgf .icesob {
  display: flex;
  align-items: center;
  width: calc(100% - 180px);
  padding-right: 20px;
}
/* line 48, /Users/higuchitakumi/smapr/app/assets/stylesheets/nuser.scss */
.tofx .wdet .erf .inhgf .icesob .userimg {
  width: 84px;
  height: 84px;
}
/* line 51, /Users/higuchitakumi/smapr/app/assets/stylesheets/nuser.scss */
.tofx .wdet .erf .inhgf .icesob .userimg img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #f0f0f0;
}
/* line 59, /Users/higuchitakumi/smapr/app/assets/stylesheets/nuser.scss */
.tofx .wdet .erf .inhgf .icesob .weweq {
  width: calc(100% - 114px);
  padding-left: 30px;
  margin-bottom: 5px;
}
/* line 63, /Users/higuchitakumi/smapr/app/assets/stylesheets/nuser.scss */
.tofx .wdet .erf .inhgf .icesob .weweq h1 {
  font-size: 1.6em;
  font-weight: bold;
}
/* line 69, /Users/higuchitakumi/smapr/app/assets/stylesheets/nuser.scss */
.tofx .wdet .erf .inhgf .ands {
  width: 160px;
}
/* line 71, /Users/higuchitakumi/smapr/app/assets/stylesheets/nuser.scss */
.tofx .wdet .erf .inhgf .ands a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  height: 2em;
  cursor: pointer;
}
/* line 79, /Users/higuchitakumi/smapr/app/assets/stylesheets/nuser.scss */
.tofx .wdet .erf .inhgf .ands input#follow {
  display: none;
}
/* line 84, /Users/higuchitakumi/smapr/app/assets/stylesheets/nuser.scss */
.tofx .wdet .erf .qwed {
  width: calc(100% - 114px);
  padding-left: 114px;
}
/* line 90, /Users/higuchitakumi/smapr/app/assets/stylesheets/nuser.scss */
.tofx .fxse {
  width: 100%;
  display: flex;
  justify-content: center;
}
/* line 94, /Users/higuchitakumi/smapr/app/assets/stylesheets/nuser.scss */
.tofx .fxse .sdwe {
  width: 1000px;
  min-width: 1000px;
  margin: 10px 0 0 0;
}
/* line 98, /Users/higuchitakumi/smapr/app/assets/stylesheets/nuser.scss */
.tofx .fxse .sdwe .topic {
  margin-bottom: 10px;
  background: red;
  display: flex;
  justify-content: center;
  align-items: start;
  background: #f8f8f8;
}
/* line 105, /Users/higuchitakumi/smapr/app/assets/stylesheets/nuser.scss */
.tofx .fxse .sdwe .topic .main_flame {
  width: calc(1000px - 310px);
  margin-right: 10px;
  background: white;
  padding: 20px 0;
  border-radius: 10px;
}
/* line 111, /Users/higuchitakumi/smapr/app/assets/stylesheets/nuser.scss */
.tofx .fxse .sdwe .topic .main_flame .tmai {
  width: calc(100% - 40px);
  padding: 0 20px;
}
/* line 114, /Users/higuchitakumi/smapr/app/assets/stylesheets/nuser.scss */
.tofx .fxse .sdwe .topic .main_flame .tmai h2 {
  margin: 20px 0 10px 0;
  font-weight: bold;
  font-size: 1.1em;
}
/* line 119, /Users/higuchitakumi/smapr/app/assets/stylesheets/nuser.scss */
.tofx .fxse .sdwe .topic .main_flame .tmai img {
  width: 100%;
}
/* line 122, /Users/higuchitakumi/smapr/app/assets/stylesheets/nuser.scss */
.tofx .fxse .sdwe .topic .main_flame .tmai .artb1 {
  width: 100%;
  display: flex;
  text-decoration: none;
  padding: 5px 0 10px 0;
}
/* line 127, /Users/higuchitakumi/smapr/app/assets/stylesheets/nuser.scss */
.tofx .fxse .sdwe .topic .main_flame .tmai .artb1:hover .right h3, .tofx .fxse .sdwe .topic .main_flame .tmai .artb1:hover .right .toptitle {
  text-decoration: underline;
}
/* line 131, /Users/higuchitakumi/smapr/app/assets/stylesheets/nuser.scss */
.tofx .fxse .sdwe .topic .main_flame .tmai .artb1 .left {
  width: calc(30% - 10px);
  padding-right: 10px;
}
/* line 134, /Users/higuchitakumi/smapr/app/assets/stylesheets/nuser.scss */
.tofx .fxse .sdwe .topic .main_flame .tmai .artb1 .left img {
  width: 100%;
  height: 104.1px;
  object-fit: cover;
}
/* line 140, /Users/higuchitakumi/smapr/app/assets/stylesheets/nuser.scss */
.tofx .fxse .sdwe .topic .main_flame .tmai .artb1 .right {
  width: 70%;
}
/* line 142, /Users/higuchitakumi/smapr/app/assets/stylesheets/nuser.scss */
.tofx .fxse .sdwe .topic .main_flame .tmai .artb1 .right .toptitle {
  font-weight: bold;
  font-size: 1.1em;
}
/* line 146, /Users/higuchitakumi/smapr/app/assets/stylesheets/nuser.scss */
.tofx .fxse .sdwe .topic .main_flame .tmai .artb1 .right .dest {
  color: #aaa;
  font-size: 0.9em;
}

/* line 159, /Users/higuchitakumi/smapr/app/assets/stylesheets/nuser.scss */
.linkBox {
  display: block;
  background: #00aced;
  border-radius: 250px;
  color: white;
  padding: 5px 10px 3px 10px;
  text-decoration: none;
  text-align: center;
}

/* line 168, /Users/higuchitakumi/smapr/app/assets/stylesheets/nuser.scss */
a.dc {
  margin-right: 20px;
}

/* line 172, /Users/higuchitakumi/smapr/app/assets/stylesheets/nuser.scss */
.tnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 20px);
  margin: 0 0 15px 0;
  padding: 0 10px;
  border-bottom: 1px solid #f0f0f0;
}
/* line 180, /Users/higuchitakumi/smapr/app/assets/stylesheets/nuser.scss */
.tnav nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  width: 80%;
  text-align: center;
}
/* line 187, /Users/higuchitakumi/smapr/app/assets/stylesheets/nuser.scss */
.tnav nav li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  min-width: 70px;
}
/* line 194, /Users/higuchitakumi/smapr/app/assets/stylesheets/nuser.scss */
.tnav nav a {
  display: block;
  width: 100%;
  text-decoration: none;
  color: #555;
  padding-bottom: 5px;
  font-size: 0.8em;
}
/* line 202, /Users/higuchitakumi/smapr/app/assets/stylesheets/nuser.scss */
.tnav nav li.current {
  border-bottom: 3px solid #00aced;
}
/* line 205, /Users/higuchitakumi/smapr/app/assets/stylesheets/nuser.scss */
.tnav nav li.des {
  border-bottom: 3px solid #ffffff;
}
/* line 208, /Users/higuchitakumi/smapr/app/assets/stylesheets/nuser.scss */
.tnav nav li:hover {
  color: #E7DA66;
  border-bottom: 3px solid #00aced;
}
/* line 212, /Users/higuchitakumi/smapr/app/assets/stylesheets/nuser.scss */
.tnav nav li a {
  cursor: pointer;
}

/* line 216, /Users/higuchitakumi/smapr/app/assets/stylesheets/nuser.scss */
nav.pagination {
  display: none;
}

/* line 220, /Users/higuchitakumi/smapr/app/assets/stylesheets/nuser.scss */
.linkContainer {
  background: #00aced;
  border-radius: 500px;
  color: white;
  text-decoration: none;
  text-align: center;
}

/* line 236, /Users/higuchitakumi/smapr/app/assets/stylesheets/nuser.scss */
.wrap_inner {
  border-radius: 10px;
}

/* line 239, /Users/higuchitakumi/smapr/app/assets/stylesheets/nuser.scss */
.s23lp {
  line-height: 30px;
  padding: 0 15px;
  margin: 10px;
  cursor: pointer;
}

/* line 246, /Users/higuchitakumi/smapr/app/assets/stylesheets/nuser.scss */
.userContainer {
  display: flex;
  align-items: center;
  width: calc(100% - 180px);
  padding-right: 20px;
}
/* line 251, /Users/higuchitakumi/smapr/app/assets/stylesheets/nuser.scss */
.userContainer .userimg {
  width: 84px;
  height: 84px;
}
/* line 254, /Users/higuchitakumi/smapr/app/assets/stylesheets/nuser.scss */
.userContainer .userimg img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
/* line 262, /Users/higuchitakumi/smapr/app/assets/stylesheets/nuser.scss */
.userContainer .weweq {
  width: calc(100% - 114px);
  padding-left: 30px;
  margin-bottom: 5px;
}
/* line 266, /Users/higuchitakumi/smapr/app/assets/stylesheets/nuser.scss */
.userContainer .weweq h1 {
  font-size: 1.6em;
  font-weight: bold;
}
