/* line 3, /Users/higuchitakumi/smapr/app/assets/stylesheets/overwhite.scss */
.debt input {
  padding: 10px 20px !important;
}

/* line 7, /Users/higuchitakumi/smapr/app/assets/stylesheets/overwhite.scss */
.popup_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
/* line 17, /Users/higuchitakumi/smapr/app/assets/stylesheets/overwhite.scss */
.popup_wrap .whir {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60vw;
  min-width: 600px;
  max-width: 1000px;
  height: 80vh;
  min-height: 500px;
  max-height: 700px;
  background: white;
  border-radius: 20px;
}
/* line 29, /Users/higuchitakumi/smapr/app/assets/stylesheets/overwhite.scss */
.popup_wrap .whir .nnarf {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60vw;
  min-width: 600px;
  max-width: 1000px;
  height: 80vh;
  min-height: 500px;
  max-height: 700px;
  position: relative;
}
/* line 40, /Users/higuchitakumi/smapr/app/assets/stylesheets/overwhite.scss */
.popup_wrap .whir .nnarf .abssec {
  position: absolute;
  top: 20%;
}
/* line 43, /Users/higuchitakumi/smapr/app/assets/stylesheets/overwhite.scss */
.popup_wrap .whir .nnarf .abssec .sect {
  width: 100%;
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 20px;
}
/* line 49, /Users/higuchitakumi/smapr/app/assets/stylesheets/overwhite.scss */
.popup_wrap .whir .nnarf .abssec .subsect {
  width: 100%;
  text-align: center;
  font-size: 1.2em;
}
/* line 55, /Users/higuchitakumi/smapr/app/assets/stylesheets/overwhite.scss */
.popup_wrap .whir .nnarf .secb {
  width: 50%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 62, /Users/higuchitakumi/smapr/app/assets/stylesheets/overwhite.scss */
.popup_wrap .whir .nnarf .secb .ias {
  width: calc(100% - 20px);
  font-size: 1.2em;
  padding: 5px 10px;
}
/* line 68, /Users/higuchitakumi/smapr/app/assets/stylesheets/overwhite.scss */
.popup_wrap .whir .nnarf .secb .sect {
  width: 100%;
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 20px;
}
/* line 74, /Users/higuchitakumi/smapr/app/assets/stylesheets/overwhite.scss */
.popup_wrap .whir .nnarf .secb .subsect {
  width: 100%;
  text-align: center;
  font-size: 1.2em;
}
/* line 80, /Users/higuchitakumi/smapr/app/assets/stylesheets/overwhite.scss */
.popup_wrap .whir .nnarf .nexta {
  position: absolute;
  bottom: 5%;
  right: 5%;
  cursor: pointer;
}
/* line 86, /Users/higuchitakumi/smapr/app/assets/stylesheets/overwhite.scss */
.popup_wrap .whir .nnarf .prea {
  position: absolute;
  bottom: 5%;
  left: 5%;
  cursor: pointer;
}
