/* line 2, /Users/higuchitakumi/smapr/app/assets/stylesheets/prooflyMainStyle.scss */
.pacard {
  display: flex;
}
/* line 4, /Users/higuchitakumi/smapr/app/assets/stylesheets/prooflyMainStyle.scss */
.pacard .p-left {
  width: 30%;
  padding-right: 10px;
}
/* line 7, /Users/higuchitakumi/smapr/app/assets/stylesheets/prooflyMainStyle.scss */
.pacard .p-left img {
  display: block;
  width: 100%;
  border-radius: 10px;
}
/* line 13, /Users/higuchitakumi/smapr/app/assets/stylesheets/prooflyMainStyle.scss */
.pacard .p-right {
  width: calc(70% - 10px;);
}
/* line 15, /Users/higuchitakumi/smapr/app/assets/stylesheets/prooflyMainStyle.scss */
.pacard .p-right p {
  margin: 0;
  line-height: 1.8em;
}
/* line 19, /Users/higuchitakumi/smapr/app/assets/stylesheets/prooflyMainStyle.scss */
.pacard .p-right p.tcdw {
  font-weight: bold;
  font-size: 1.1em;
}
/* line 23, /Users/higuchitakumi/smapr/app/assets/stylesheets/prooflyMainStyle.scss */
.pacard .p-right p.fouw {
  font-size: 0.9em;
  color: #aaa;
}

/* line 30, /Users/higuchitakumi/smapr/app/assets/stylesheets/prooflyMainStyle.scss */
.paid-con {
  width: 100%;
  border-radius: 10px;
  text-decoration: none;
}
/* line 34, /Users/higuchitakumi/smapr/app/assets/stylesheets/prooflyMainStyle.scss */
.paid-con:hover {
  text-decoration: underline;
}

/* line 40, /Users/higuchitakumi/smapr/app/assets/stylesheets/prooflyMainStyle.scss */
.articleBox {
  width: calc(100% - 40px);
  height: 100%;
  padding: 20px 20px 20px 20px;
  background: white;
}
/* line 45, /Users/higuchitakumi/smapr/app/assets/stylesheets/prooflyMainStyle.scss */
.articleBox p {
  line-height: 2em;
  margin: 0 0 15px 0;
}
/* line 49, /Users/higuchitakumi/smapr/app/assets/stylesheets/prooflyMainStyle.scss */
.articleBox img {
  width: 100%;
  margin: 0 0 10px 0;
}
/* line 53, /Users/higuchitakumi/smapr/app/assets/stylesheets/prooflyMainStyle.scss */
.articleBox blockquote {
  margin: 10px 0;
  background: #f8f8f8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.19);
  padding: 15px;
  border-radius: 5px;
}
/* line 59, /Users/higuchitakumi/smapr/app/assets/stylesheets/prooflyMainStyle.scss */
.articleBox .paid-ens {
  width: 100%;
  text-align: center;
  font-size: 0.8em;
  color: #aaa;
}
/* line 65, /Users/higuchitakumi/smapr/app/assets/stylesheets/prooflyMainStyle.scss */
.articleBox .box1 {
  position: relative;
  margin: 10px 0 15px 0;
  padding: 25px 10px 10px 10px;
  border: dashed 1px #808080;
  border-radius: 8px;
}
/* line 71, /Users/higuchitakumi/smapr/app/assets/stylesheets/prooflyMainStyle.scss */
.articleBox .box1 .box1-title {
  position: absolute;
  display: inline-block;
  top: -13px;
  left: 10px;
  padding: 0 9px;
  background: #FFF;
  font-weight: bold;
}
/* line 82, /Users/higuchitakumi/smapr/app/assets/stylesheets/prooflyMainStyle.scss */
.articleBox ul, .articleBox ol {
  margin: 20px 0 10px 30px;
}
/* line 85, /Users/higuchitakumi/smapr/app/assets/stylesheets/prooflyMainStyle.scss */
.articleBox .bold {
  font-weight: bold;
}
/* line 88, /Users/higuchitakumi/smapr/app/assets/stylesheets/prooflyMainStyle.scss */
.articleBox .quoteBox {
  width: 100%;
  font-size: 0.8em;
  text-align: right;
}
/* line 93, /Users/higuchitakumi/smapr/app/assets/stylesheets/prooflyMainStyle.scss */
.articleBox h2 {
  position: relative;
  font-weight: 580;
  padding: 5px 0;
  margin: 10px 0;
  font-weight: bold;
  background: #66cdaa;
  color: #fffafa;
}
/* line 102, /Users/higuchitakumi/smapr/app/assets/stylesheets/prooflyMainStyle.scss */
.articleBox h3 {
  position: relative;
  font-weight: bold;
  font-size: 1em;
  color: #808080;
  padding: 2px 30px;
  margin: 5px 0 25px 0;
}
/* line 109, /Users/higuchitakumi/smapr/app/assets/stylesheets/prooflyMainStyle.scss */
.articleBox h3:before {
  position: absolute;
  top: 50%;
  left: 10px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  content: '';
  background: #00aced;
  width: 0.8em;
  height: 0.8em;
}
/* line 121, /Users/higuchitakumi/smapr/app/assets/stylesheets/prooflyMainStyle.scss */
.articleBox .paid, .articleBox .paid-end {
  display: flex;
  align-items: center;
  padding: 20px 0 5px 0;
  color: #00aced;
}
/* line 126, /Users/higuchitakumi/smapr/app/assets/stylesheets/prooflyMainStyle.scss */
.articleBox .paid:before, .articleBox .paid:after, .articleBox .paid-end:before, .articleBox .paid-end:after {
  border-top: 1px solid;
  content: "";
  flex-grow: 1;
}
/* line 131, /Users/higuchitakumi/smapr/app/assets/stylesheets/prooflyMainStyle.scss */
.articleBox .paid:before, .articleBox .paid-end:before {
  margin-right: 1rem;
}
/* line 134, /Users/higuchitakumi/smapr/app/assets/stylesheets/prooflyMainStyle.scss */
.articleBox .paid:after, .articleBox .paid-end:after {
  margin-left: 1rem;
}
