@charset "UTF-8";
/* line 3, /Users/higuchitakumi/smapr/app/assets/stylesheets/overwhite.scss */
.debt input {
  padding: 10px 20px !important;
}

/* line 7, /Users/higuchitakumi/smapr/app/assets/stylesheets/overwhite.scss */
.popup_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
/* line 17, /Users/higuchitakumi/smapr/app/assets/stylesheets/overwhite.scss */
.popup_wrap .whir {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60vw;
  min-width: 600px;
  max-width: 1000px;
  height: 80vh;
  min-height: 500px;
  max-height: 700px;
  background: white;
  border-radius: 20px;
}
/* line 29, /Users/higuchitakumi/smapr/app/assets/stylesheets/overwhite.scss */
.popup_wrap .whir .nnarf {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60vw;
  min-width: 600px;
  max-width: 1000px;
  height: 80vh;
  min-height: 500px;
  max-height: 700px;
  position: relative;
}
/* line 40, /Users/higuchitakumi/smapr/app/assets/stylesheets/overwhite.scss */
.popup_wrap .whir .nnarf .abssec {
  position: absolute;
  top: 20%;
}
/* line 43, /Users/higuchitakumi/smapr/app/assets/stylesheets/overwhite.scss */
.popup_wrap .whir .nnarf .abssec .sect {
  width: 100%;
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 20px;
}
/* line 49, /Users/higuchitakumi/smapr/app/assets/stylesheets/overwhite.scss */
.popup_wrap .whir .nnarf .abssec .subsect {
  width: 100%;
  text-align: center;
  font-size: 1.2em;
}
/* line 55, /Users/higuchitakumi/smapr/app/assets/stylesheets/overwhite.scss */
.popup_wrap .whir .nnarf .secb {
  width: 50%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 62, /Users/higuchitakumi/smapr/app/assets/stylesheets/overwhite.scss */
.popup_wrap .whir .nnarf .secb .ias {
  width: calc(100% - 20px);
  font-size: 1.2em;
  padding: 5px 10px;
}
/* line 68, /Users/higuchitakumi/smapr/app/assets/stylesheets/overwhite.scss */
.popup_wrap .whir .nnarf .secb .sect {
  width: 100%;
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 20px;
}
/* line 74, /Users/higuchitakumi/smapr/app/assets/stylesheets/overwhite.scss */
.popup_wrap .whir .nnarf .secb .subsect {
  width: 100%;
  text-align: center;
  font-size: 1.2em;
}
/* line 80, /Users/higuchitakumi/smapr/app/assets/stylesheets/overwhite.scss */
.popup_wrap .whir .nnarf .nexta {
  position: absolute;
  bottom: 5%;
  right: 5%;
  cursor: pointer;
}
/* line 86, /Users/higuchitakumi/smapr/app/assets/stylesheets/overwhite.scss */
.popup_wrap .whir .nnarf .prea {
  position: absolute;
  bottom: 5%;
  left: 5%;
  cursor: pointer;
}

/* line 1, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
  color: #494949;
}

/* line 11, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
html, body {
  background: #f8f8f8;
}

/* line 18, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
.linkContainer {
  background: #00aced;
  border-radius: 500px;
  color: white;
  text-decoration: none;
  text-align: center;
}

/* line 26, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
.tnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 20px);
  margin: 0 0 5px 0;
  padding: 0 10px;
  border-bottom: 1px solid #f0f0f0;
}
/* line 34, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
.tnav nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  width: 80%;
  text-align: center;
}
/* line 41, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
.tnav nav li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  min-width: 70px;
}
/* line 48, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
.tnav nav a {
  display: block;
  width: 100%;
  text-decoration: none;
  color: #555;
  padding-bottom: 5px;
  font-size: 0.8em;
}
/* line 56, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
.tnav nav li.current {
  border-bottom: 3px solid #00aced;
}
/* line 59, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
.tnav nav li.des {
  border-bottom: 3px solid #ffffff;
}
/* line 62, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
.tnav nav li:hover {
  color: #E7DA66;
  border-bottom: 3px solid #00aced;
}
/* line 66, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
.tnav nav li a {
  cursor: pointer;
}

@media screen and (min-width: 1000px) {
  /* line 74, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .main_flame {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  /* line 78, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .main_flame .main_inner {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 1000px;
    margin: 10px 0 0 0;
  }
  /* line 84, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .main_flame .main_inner .main_container {
    width: 650px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 20px;
    background: white;
    border-radius: 10px;
  }
  /* line 92, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .main_flame .main_inner .main_container_n {
    width: 690px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 20px 0;
    background: white;
    border-radius: 10px;
  }
  /* line 100, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .main_flame .main_inner .main_cont {
    width: 100%;
    margin-bottom: 10px;
    padding: 20px 0;
    background: white;
  }
  /* line 106, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .main_flame .main_inner .main_container_a {
    width: 740px;
    height: calc(100vh - 70px);
    background: white;
  }
}
@media screen and (max-width: 1000px) {
  /* line 119, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .main_flame {
    width: 100%;
  }
  /* line 121, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .main_flame .main_inner {
    width: 100%;
  }
  /* line 123, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .main_flame .main_inner .main_container {
    width: 100%;
    margin-bottom: 10px;
    background: white;
  }
  /* line 128, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .main_flame .main_inner .main_container_n {
    width: 100%;
    margin-bottom: 10px;
    background: white;
  }
  /* line 133, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .main_flame .main_inner .main_container_a {
    width: 100%;
    height: calc(100vh - 70px);
    background: white;
  }

  /* line 140, /Users/higuchitakumi/smapr/app/assets/stylesheets/branchFramework.scss */
  .sub_flame, .scoreContainer, .sidebar {
    display: none;
  }
}
/* line 10, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
  color: #494949;
}

/* line 20, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
html, body {
  background: #f8f8f8;
}

/* line 25, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.fgss {
  display: inline-block;
}

/* line 28, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.vsd {
  -ms-overflow-style: none;
  scrollbar-width: none;
  list-style-type: none;
}
/* line 32, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.vsd::-webkit-scrollbar {
  display: none;
}

/* line 37, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.tofx {
  display: block;
  width: 100%;
}
/* line 40, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.tofx .fxse {
  width: 100%;
  display: flex;
  justify-content: center;
}
/* line 45, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.tofx .fxse .sdwe {
  width: 1000px;
  min-width: 1000px;
}
/* line 48, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.tofx .fxse .sdwe .topic {
  margin-bottom: 10px;
  height: 300px;
  background: red;
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 20px 0;
  background: #f8f8f8;
}
/* line 57, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.tofx .fxse .sdwe .topic .main_flame {
  width: calc(1000px - 310px);
  margin-right: 10px;
  background: white;
  padding: 20px 0;
  border-radius: 10px;
}
/* line 63, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.tofx .fxse .sdwe .topic .main_flame .main_flame_inner {
  padding: 0 20px;
}

/* line 75, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
img.andj {
  width: 650px;
  height: 366px;
  object-fit: cover;
}

/* line 83, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.mcard {
  width: calc(100% - 40px);
  padding: 0 20px 10px 20px;
}
/* line 86, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.mcard .usertc {
  display: flex;
  width: 100%;
}
/* line 89, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.mcard .usertc .left {
  width: 44px;
  margin-right: 15px;
}
/* line 92, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.mcard .usertc .left img {
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}
/* line 98, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.mcard .usertc .right {
  width: calc(100% - 59px);
}
/* line 102, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.mcard .insis {
  display: block;
  width: calc(100% - 59px);
  margin: 0 0 20px 59px;
}
/* line 106, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.mcard .insis .isdl {
  width: 100%;
}
/* line 108, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.mcard .insis .isdl img {
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
}
/* line 114, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.mcard .insis h3 {
  margin: 10px 0;
  font-size: 1.2em;
  font-weight: bold;
}

/* line 122, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.tcard {
  width: 332px;
}
/* line 124, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.tcard .tcimg {
  width: 100%;
}
/* line 126, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.tcard .tcimg img {
  width: 100%;
  height: 186px;
  border-radius: 5px;
  object-fit: cover;
}
/* line 133, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.tcard .tctitle {
  display: flex;
  width: 100%;
  padding: 2px 5px 0 5px;
}
/* line 137, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.tcard .tctitle .left {
  width: 36px;
  height: 36px;
  margin-right: 10px;
}
/* line 141, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.tcard .tctitle .left img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
}
/* line 148, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.tcard .tctitle .right {
  width: calc(100% - 46px);
}
/* line 152, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.tcard .tcsub {
  display: block;
  width: 100%;
  margin-left: 46px;
  padding: 2px 5px 0 5px;
  color: #999;
}

/* line 164, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.tcica {
  display: flex;
  width: 100%;
  margin-top: 10px;
  margin-left: 46px;
}
/* line 169, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.tcica .fop, .tcica .fopb {
  display: block;
  border-radius: 5px;
  color: white;
  padding: 3px 10px 1px 10px;
  text-decoration: none;
  text-align: center;
  font-size: 0.8em;
  margin: 0 2px;
}
/* line 179, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.tcica .fop {
  background: #27a182;
}
/* line 182, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.tcica .fopb {
  background: #00aced;
}

/* line 189, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.tnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 20px);
  margin: 0 0 5px 0;
  padding: 0 10px;
  border-bottom: 1px solid #f0f0f0;
}
/* line 197, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.tnav nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  width: 80%;
  text-align: center;
}
/* line 204, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.tnav nav li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  min-width: 70px;
}
/* line 211, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.tnav nav a {
  display: block;
  width: 100%;
  text-decoration: none;
  color: #555;
  padding-bottom: 5px;
  font-size: 0.8em;
}
/* line 219, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.tnav nav li.current {
  border-bottom: 3px solid #00aced;
}
/* line 222, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.tnav nav li.des {
  border-bottom: 3px solid #ffffff;
}
/* line 225, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.tnav nav li:hover {
  color: #E7DA66;
  border-bottom: 3px solid #00aced;
}
/* line 229, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.tnav nav li a {
  cursor: pointer;
}

/* line 234, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
nav.pagination {
  display: none;
}

@media screen and (min-width: 1000px) {
  /* line 241, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
  .pacard {
    display: flex;
    padding: 5px 20px;
    text-decoration: none;
  }
  /* line 244, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
  .pacard .p-left {
    width: 30%;
  }
  /* line 246, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
  .pacard .p-left img {
    display: block;
    width: 100%;
    height: 110px;
    border-radius: 10px;
    object-fit: cover;
  }
  /* line 254, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
  .pacard .p-right {
    width: calc(70% - 10px);
    padding: 5px 10px 5px 0;
  }
  /* line 257, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
  .pacard .p-right p {
    margin: 0;
    line-height: 1.8em;
  }
  /* line 261, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
  .pacard .p-right p.tcdw {
    font-weight: bold;
    font-size: 1.1em;
  }
  /* line 265, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
  .pacard .p-right p.fouw {
    font-size: 0.9em;
    color: #aaa;
  }
  /* line 269, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
  .pacard .p-right h3.nosinh3 {
    font-weight: bold;
    font-size: 1.2em;
  }
  /* line 275, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
  .pacard:hover h3 {
    text-decoration: underline;
  }

  /* line 279, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
  .enje {
    display: block;
    text-decoration: none;
    padding: 10px 0;
    margin-bottom: 5px;
    border-bottom: 1px solid #f0f0f0;
  }
  /* line 285, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
  .enje:hover h3 {
    text-decoration: underline;
  }
  /* line 288, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
  .enje h3.nosinh03 {
    font-weight: bold;
    font-size: 1.4em;
    margin: 5px 0;
  }
  /* line 293, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
  .enje img {
    width: 100%;
    height: 365px;
    border-radius: 5px;
    object-fit: cover;
  }

  /* line 300, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
  div.andj {
    width: 100%;
    height: 110px;
    border-radius: 10px;
    background: #FAFAFA;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #aaa;
  }

  /* line 310, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
  h2.nosinh2 {
    font-weight: bold;
    font-size: 1.1em;
    padding: 10px 0 10px 20px;
  }
}
@media screen and (max-width: 1000px) {
  /* line 317, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
  .pacard {
    display: flex;
    padding: 5px 10px 10px 10px;
    border-bottom: 1px solid #f0f0f0;
    text-decoration: none;
  }
  /* line 321, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
  .pacard .p-left {
    width: 35vw;
  }
  /* line 323, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
  .pacard .p-left img {
    display: block;
    width: 100%;
    height: calc(35vw * 0.56);
    border-radius: 5px;
    object-fit: cover;
    border: 1px solid #f0f0f0;
    margin-top: 5px;
  }
  /* line 333, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
  .pacard .p-right {
    width: calc(65vw - 30px);
    padding: 0px 10px 0px 0;
  }
  /* line 336, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
  .pacard .p-right p {
    margin: 0;
    line-height: 1.3em;
  }
  /* line 340, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
  .pacard .p-right p.tcdw {
    font-weight: bold;
    font-size: 1.1em;
  }
  /* line 344, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
  .pacard .p-right p.fouw {
    font-size: 0.9em;
    color: #aaa;
  }
  /* line 348, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
  .pacard .p-right h3.nosinh3 {
    font-weight: bold;
    font-size: 1em;
  }
  /* line 354, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
  .pacard:hover h3 {
    text-decoration: underline;
  }

  /* line 358, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
  .enje {
    display: block;
    text-decoration: none;
    padding: 10px;
    border-bottom: 1px solid #f0f0f0;
  }
  /* line 363, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
  .enje:hover h3 {
    text-decoration: underline;
  }
  /* line 366, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
  .enje h3.nosinh03 {
    font-weight: bold;
    font-size: 1em;
    margin: 5px 0;
  }
  /* line 371, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
  .enje .hedlineDes {
    font-size: 0.8em;
    color: #aaa;
  }
  /* line 375, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
  .enje img {
    width: calc(100vw - 20px);
    height: calc(calc(100vw - 20px) * 0.56 );
    border-radius: 5px;
    object-fit: cover;
  }

  /* line 382, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
  div.andj {
    width: 100%;
    height: calc(35vw * 0.56);
    border-radius: 10px;
    background: #FAFAFA;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #aaa;
  }

  /* line 392, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
  h2.nosinh2 {
    font-weight: bold;
    font-size: 1.1em;
    padding: 10px 0 10px 10px;
  }
}
