@charset "UTF-8";
/* line 3, /Users/higuchitakumi/smapr/app/assets/stylesheets/overwhite.scss */
.debt input {
  padding: 10px 20px !important;
}

/* line 7, /Users/higuchitakumi/smapr/app/assets/stylesheets/overwhite.scss */
.popup_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
/* line 17, /Users/higuchitakumi/smapr/app/assets/stylesheets/overwhite.scss */
.popup_wrap .whir {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60vw;
  min-width: 600px;
  max-width: 1000px;
  height: 80vh;
  min-height: 500px;
  max-height: 700px;
  background: white;
  border-radius: 20px;
}
/* line 29, /Users/higuchitakumi/smapr/app/assets/stylesheets/overwhite.scss */
.popup_wrap .whir .nnarf {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60vw;
  min-width: 600px;
  max-width: 1000px;
  height: 80vh;
  min-height: 500px;
  max-height: 700px;
  position: relative;
}
/* line 40, /Users/higuchitakumi/smapr/app/assets/stylesheets/overwhite.scss */
.popup_wrap .whir .nnarf .abssec {
  position: absolute;
  top: 20%;
}
/* line 43, /Users/higuchitakumi/smapr/app/assets/stylesheets/overwhite.scss */
.popup_wrap .whir .nnarf .abssec .sect {
  width: 100%;
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 20px;
}
/* line 49, /Users/higuchitakumi/smapr/app/assets/stylesheets/overwhite.scss */
.popup_wrap .whir .nnarf .abssec .subsect {
  width: 100%;
  text-align: center;
  font-size: 1.2em;
}
/* line 55, /Users/higuchitakumi/smapr/app/assets/stylesheets/overwhite.scss */
.popup_wrap .whir .nnarf .secb {
  width: 50%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 62, /Users/higuchitakumi/smapr/app/assets/stylesheets/overwhite.scss */
.popup_wrap .whir .nnarf .secb .ias {
  width: calc(100% - 20px);
  font-size: 1.2em;
  padding: 5px 10px;
}
/* line 68, /Users/higuchitakumi/smapr/app/assets/stylesheets/overwhite.scss */
.popup_wrap .whir .nnarf .secb .sect {
  width: 100%;
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 20px;
}
/* line 74, /Users/higuchitakumi/smapr/app/assets/stylesheets/overwhite.scss */
.popup_wrap .whir .nnarf .secb .subsect {
  width: 100%;
  text-align: center;
  font-size: 1.2em;
}
/* line 80, /Users/higuchitakumi/smapr/app/assets/stylesheets/overwhite.scss */
.popup_wrap .whir .nnarf .nexta {
  position: absolute;
  bottom: 5%;
  right: 5%;
  cursor: pointer;
}
/* line 86, /Users/higuchitakumi/smapr/app/assets/stylesheets/overwhite.scss */
.popup_wrap .whir .nnarf .prea {
  position: absolute;
  bottom: 5%;
  left: 5%;
  cursor: pointer;
}

/* line 9, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
  color: #494949;
}

/* line 19, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
html, body {
  background: #f8f8f8;
}

/* line 24, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.fgss {
  display: inline-block;
}

/* line 27, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.vsd {
  -ms-overflow-style: none;
  scrollbar-width: none;
  list-style-type: none;
}
/* line 31, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.vsd::-webkit-scrollbar {
  display: none;
}

/* line 35, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.tofx {
  display: block;
  width: 100%;
}
/* line 38, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.tofx .fxse {
  width: 100%;
  display: flex;
  justify-content: center;
}
/* line 43, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.tofx .fxse .sdwe {
  width: 1000px;
  min-width: 1000px;
}
/* line 46, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.tofx .fxse .sdwe .topic {
  margin-bottom: 10px;
  height: 300px;
  background: red;
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 20px 0;
  background: #f8f8f8;
}
/* line 55, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.tofx .fxse .sdwe .topic .main_flame {
  width: calc(1000px - 310px);
  margin-right: 10px;
  background: white;
  padding: 20px 0;
  border-radius: 10px;
}
/* line 61, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.tofx .fxse .sdwe .topic .main_flame .main_flame_inner {
  padding: 0 20px;
}
/* line 63, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.tofx .fxse .sdwe .topic .main_flame .main_flame_inner h2.nosinh2 {
  font-weight: bold;
  font-size: 1.1em;
  padding: 10px 0;
}
/* line 69, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.tofx .fxse .sdwe .topic .main_flame .main_flame_inner img.andj {
  width: 650px;
  height: 366px;
  object-fit: cover;
}
/* line 74, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.tofx .fxse .sdwe .topic .main_flame .main_flame_inner div.andj {
  width: 100%;
  height: 110px;
  border-radius: 10px;
  background: #FAFAFA;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #aaa;
}
/* line 84, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.tofx .fxse .sdwe .topic .main_flame .main_flame_inner .enje {
  display: block;
  text-decoration: none;
  padding: 10px 0;
  margin-bottom: 5px;
  border-bottom: 1px solid #f0f0f0;
}
/* line 90, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.tofx .fxse .sdwe .topic .main_flame .main_flame_inner .enje:hover h3 {
  text-decoration: underline;
}
/* line 93, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.tofx .fxse .sdwe .topic .main_flame .main_flame_inner .enje h3.nosinh03 {
  font-weight: bold;
  font-size: 1.4em;
  margin: 5px 0;
}

/* line 107, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.mcard {
  width: calc(100% - 40px);
  padding: 0 20px 10px 20px;
}
/* line 110, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.mcard .usertc {
  display: flex;
  width: 100%;
}
/* line 113, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.mcard .usertc .left {
  width: 44px;
  margin-right: 15px;
}
/* line 116, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.mcard .usertc .left img {
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}
/* line 122, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.mcard .usertc .right {
  width: calc(100% - 59px);
}
/* line 126, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.mcard .insis {
  display: block;
  width: calc(100% - 59px);
  margin: 0 0 20px 59px;
}
/* line 130, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.mcard .insis .isdl {
  width: 100%;
}
/* line 132, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.mcard .insis .isdl img {
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
}
/* line 138, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.mcard .insis h3 {
  margin: 10px 0;
  font-size: 1.2em;
  font-weight: bold;
}

/* line 146, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.tcard {
  width: 332px;
}
/* line 148, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.tcard .tcimg {
  width: 100%;
}
/* line 150, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.tcard .tcimg img {
  width: 100%;
  height: 186px;
  border-radius: 5px;
  object-fit: cover;
}
/* line 157, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.tcard .tctitle {
  display: flex;
  width: 100%;
  padding: 2px 5px 0 5px;
}
/* line 161, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.tcard .tctitle .left {
  width: 36px;
  height: 36px;
  margin-right: 10px;
}
/* line 165, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.tcard .tctitle .left img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
}
/* line 172, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.tcard .tctitle .right {
  width: calc(100% - 46px);
}
/* line 176, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.tcard .tcsub {
  display: block;
  width: 100%;
  margin-left: 46px;
  padding: 2px 5px 0 5px;
  color: #999;
}

/* line 186, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.pacard {
  display: flex;
  padding: 5px 0;
  text-decoration: none;
}
/* line 189, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.pacard .p-left {
  width: 30%;
}
/* line 191, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.pacard .p-left img {
  display: block;
  width: 100%;
  height: 110px;
  border-radius: 10px;
  object-fit: cover;
}
/* line 199, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.pacard .p-right {
  width: calc(70% - 10px);
  padding: 5px 10px 5px 0;
}
/* line 202, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.pacard .p-right p {
  margin: 0;
  line-height: 1.8em;
}
/* line 206, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.pacard .p-right p.tcdw {
  font-weight: bold;
  font-size: 1.1em;
}
/* line 210, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.pacard .p-right p.fouw {
  font-size: 0.9em;
  color: #aaa;
}
/* line 214, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.pacard .p-right h3.nosinh3 {
  font-weight: bold;
  font-size: 1.2em;
}
/* line 220, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.pacard:hover h3 {
  text-decoration: underline;
}

/* line 225, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.hello {
  height: 100%;
}
/* line 227, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.hello .her {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #1A2980;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #26D0CE, #1A2980);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #076585, #fff);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/* line 236, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.hello .her .f-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1000px;
  min-width: 1000px;
  height: 100%;
  margin: 0 20px;
}
/* line 244, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.hello .her .f-section .her-left {
  width: calc(65% - 20px);
  margin-right: 20px;
}
/* line 247, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.hello .her .f-section .her-left p {
  font-size: 2em;
  color: white;
  margin: 20px;
}
/* line 253, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.hello .her .f-section .her-right {
  width: 29%;
  background: rgba(255, 255, 255, 0.8);
  height: calc(70% - 20px);
  min-height: 600px;
  padding: 20px 3%;
  border: 1px solid #999;
}
/* line 260, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.hello .her .f-section .her-right h2 {
  width: 100%;
  margin: 20px 0;
  text-align: center;
  font-size: 2em;
}
/* line 266, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.hello .her .f-section .her-right .clx {
  line-height: 1.4em;
  color: #999;
  text-align: center;
  margin-bottom: 15px;
}
/* line 272, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.hello .her .f-section .her-right .cls {
  font-size: 0.6em;
  color: #999;
  text-align: center;
  margin-bottom: 15px;
}
/* line 278, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.hello .her .f-section .her-right .hrm {
  margin-bottom: 15px;
}
/* line 281, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.hello .her .f-section .her-right .alg {
  font-size: 0.8em;
}
/* line 283, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.hello .her .f-section .her-right .alg a {
  color: #3897f0;
}
/* line 290, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.hello .howtp {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

/* line 297, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.tcica {
  display: flex;
  width: 100%;
  margin-top: 10px;
  margin-left: 46px;
}
/* line 302, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.tcica .fop, .tcica .fopb {
  display: block;
  border-radius: 5px;
  color: white;
  padding: 3px 10px 1px 10px;
  text-decoration: none;
  text-align: center;
  font-size: 0.8em;
  margin: 0 2px;
}
/* line 312, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.tcica .fop {
  background: #27a182;
}
/* line 315, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.tcica .fopb {
  background: #00aced;
}

/* line 320, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.linkBox {
  display: block;
  background: #00aced;
  border-radius: 5px;
  color: white;
  width: calc(100% - 40px);
  padding: 5px 20px 3px 20px;
  text-decoration: none;
  text-align: center;
}

/* line 330, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.ghi {
  width: 100%;
  text-align: center;
}

/* line 334, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.devisere {
  margin-bottom: 10px;
}
/* line 336, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.devisere input {
  width: calc(100% - 5px);
  font-size: 1em;
  height: 1.8em;
  margin-bottom: 7px;
}

/* line 344, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.deviseac input {
  display: block;
  background: #00aced;
  border-radius: 5px;
  color: white;
  width: calc(100% - 40px);
  padding: 5px 20px;
  text-decoration: none;
  text-align: center;
  margin: 0;
  font-size: 1em;
}

/* line 358, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.rOP input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  font-weight: 600;
  width: 100%;
  text-align: center;
  text-transform: inherit;
  text-overflow: ellipsis;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 378, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.nextarrow {
  position: absolute;
  top: calc(100% - 80px);
  right: 0;
  left: 0;
  margin: auto;
  width: 30px;
  height: 30px;
}

/* line 387, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.arrow {
  width: 30px;
  height: 30px;
  border: 5px solid;
  border-color: transparent transparent white white;
  transform: rotate(-45deg);
}

/* line 394, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.fuwa_box {
  animation: fuwa 3s linear infinite;
  transform-origin: 50% 50%;
}

@keyframes fuwa {
  0% {
    transform: translateY(0);
  }
  33.33333% {
    transform: translateY(-10px);
  }
  66.66667% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}
/* line 417, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.tnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 20px);
  margin: 0 0 5px 0;
  padding: 0 10px;
  border-bottom: 1px solid #f0f0f0;
}
/* line 425, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.tnav nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  width: 80%;
  text-align: center;
}
/* line 432, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.tnav nav li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  min-width: 70px;
}
/* line 439, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.tnav nav a {
  display: block;
  width: 100%;
  text-decoration: none;
  color: #555;
  padding-bottom: 5px;
  font-size: 0.8em;
}
/* line 447, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.tnav nav li.current {
  border-bottom: 3px solid #00aced;
}
/* line 450, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.tnav nav li.des {
  border-bottom: 3px solid #ffffff;
}
/* line 453, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.tnav nav li:hover {
  color: #E7DA66;
  border-bottom: 3px solid #00aced;
}
/* line 457, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
.tnav nav li a {
  cursor: pointer;
}

/* line 462, /Users/higuchitakumi/smapr/app/assets/stylesheets/toppage.scss */
nav.pagination {
  display: none;
}
