/* line 1, /Users/higuchitakumi/smapr/app/assets/stylesheets/userside.scss */
.sub_flame {
  width: 300px;
  background: white;
  padding: 20px 0 2px 0;
  border-radius: 10px;
}
/* line 6, /Users/higuchitakumi/smapr/app/assets/stylesheets/userside.scss */
.sub_flame .prof {
  width: calc(100% - 30px);
  padding: 0 15px;
}
/* line 9, /Users/higuchitakumi/smapr/app/assets/stylesheets/userside.scss */
.sub_flame .prof .proft {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
/* line 14, /Users/higuchitakumi/smapr/app/assets/stylesheets/userside.scss */
.sub_flame .prof .proft .userimg {
  width: 44px;
  height: 44px;
}
/* line 17, /Users/higuchitakumi/smapr/app/assets/stylesheets/userside.scss */
.sub_flame .prof .proft .userimg img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
/* line 25, /Users/higuchitakumi/smapr/app/assets/stylesheets/userside.scss */
.sub_flame .prof .proft .fasa .fas {
  font-size: 28px;
  color: #00aced;
}
/* line 31, /Users/higuchitakumi/smapr/app/assets/stylesheets/userside.scss */
.sub_flame .prof .profm {
  display: block;
  text-decoration: none;
  padding-bottom: 10px;
  border-bottom: 1px solid #f0f0f0;
}
/* line 36, /Users/higuchitakumi/smapr/app/assets/stylesheets/userside.scss */
.sub_flame .prof .profm:hover {
  text-decoration: underline;
}
/* line 40, /Users/higuchitakumi/smapr/app/assets/stylesheets/userside.scss */
.sub_flame .prof ul.ls {
  border-bottom: 1px solid #f0f0f0;
}
/* line 43, /Users/higuchitakumi/smapr/app/assets/stylesheets/userside.scss */
.sub_flame .prof ul {
  list-style-type: none;
}
/* line 45, /Users/higuchitakumi/smapr/app/assets/stylesheets/userside.scss */
.sub_flame .prof ul li {
  width: 100%;
}
/* line 47, /Users/higuchitakumi/smapr/app/assets/stylesheets/userside.scss */
.sub_flame .prof ul li a {
  display: block;
  text-decoration: none;
  padding: 8px 0;
}
/* line 51, /Users/higuchitakumi/smapr/app/assets/stylesheets/userside.scss */
.sub_flame .prof ul li a:hover {
  text-decoration: underline;
}
/* line 54, /Users/higuchitakumi/smapr/app/assets/stylesheets/userside.scss */
.sub_flame .prof ul li a i.fas, .sub_flame .prof ul li a i.fab {
  text-align: center;
  width: 16px;
  color: #00aced;
  padding-right: 15px;
}
