/* line 1, /Users/higuchitakumi/smapr/app/assets/stylesheets/userside.scss */
.sub_flame {
  width: 300px;
  background: white;
  padding: 20px 0 2px 0;
  border-radius: 10px;
}
/* line 6, /Users/higuchitakumi/smapr/app/assets/stylesheets/userside.scss */
.sub_flame .prof {
  width: calc(100% - 30px);
  padding: 0 15px;
}
/* line 9, /Users/higuchitakumi/smapr/app/assets/stylesheets/userside.scss */
.sub_flame .prof .proft {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
/* line 14, /Users/higuchitakumi/smapr/app/assets/stylesheets/userside.scss */
.sub_flame .prof .proft .userimg {
  width: 44px;
  height: 44px;
}
/* line 17, /Users/higuchitakumi/smapr/app/assets/stylesheets/userside.scss */
.sub_flame .prof .proft .userimg img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #f0f0f0;
}
/* line 27, /Users/higuchitakumi/smapr/app/assets/stylesheets/userside.scss */
.sub_flame .prof .proft .fasa .fas {
  font-size: 28px;
  color: #00aced;
}
/* line 33, /Users/higuchitakumi/smapr/app/assets/stylesheets/userside.scss */
.sub_flame .prof .profm {
  display: block;
  text-decoration: none;
  padding-bottom: 10px;
  border-bottom: 1px solid #f0f0f0;
}
/* line 38, /Users/higuchitakumi/smapr/app/assets/stylesheets/userside.scss */
.sub_flame .prof .profm:hover {
  text-decoration: underline;
}
/* line 42, /Users/higuchitakumi/smapr/app/assets/stylesheets/userside.scss */
.sub_flame .prof ul.ls {
  border-bottom: 1px solid #f0f0f0;
}
/* line 45, /Users/higuchitakumi/smapr/app/assets/stylesheets/userside.scss */
.sub_flame .prof ul {
  list-style-type: none;
}
/* line 47, /Users/higuchitakumi/smapr/app/assets/stylesheets/userside.scss */
.sub_flame .prof ul li {
  width: 100%;
}
/* line 49, /Users/higuchitakumi/smapr/app/assets/stylesheets/userside.scss */
.sub_flame .prof ul li a {
  display: block;
  text-decoration: none;
  padding: 8px 0;
}
/* line 53, /Users/higuchitakumi/smapr/app/assets/stylesheets/userside.scss */
.sub_flame .prof ul li a:hover {
  text-decoration: underline;
}
/* line 56, /Users/higuchitakumi/smapr/app/assets/stylesheets/userside.scss */
.sub_flame .prof ul li a i.fas, .sub_flame .prof ul li a i.fab {
  text-align: center;
  width: 16px;
  color: #00aced;
  padding-right: 15px;
}
/* line 67, /Users/higuchitakumi/smapr/app/assets/stylesheets/userside.scss */
.sub_flame .nolog {
  width: calc(100% - 30px);
  padding: 0 15px 18px 15px;
}
/* line 70, /Users/higuchitakumi/smapr/app/assets/stylesheets/userside.scss */
.sub_flame .nolog div {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 74, /Users/higuchitakumi/smapr/app/assets/stylesheets/userside.scss */
.sub_flame .nolog div .linkc {
  display: block;
  background: #00aced;
  border-radius: 5px;
  color: white;
  padding: 5px 20px 3px 20px;
  width: calc(100% - 40px );
  text-decoration: none;
  text-align: center;
}
