<%= render 'tmp/header',{ s: "" } %>
<main class="main_flame">
    <div class="main_inner">
        <div class="main_container">
        </div>
        <%= render 'tmp/userside_management' %>
    </div>
</main>
<%= render 'tmp/footer' %>
